/**
* demo
*/
#sm-demo {
  display: flex;
  padding: 0 8px 0 8px;
}
#sm-demo > .a {
  flex: 1 1 0;
  max-width: 300px;
  padding-right: 8px;
}
#sm-demo > .b {
  flex: 1 1 0;
}
#sm-demo > .b > .c {
  display: flex;
}
#sm-demo > .b > .c > .sm-orderer {
  flex: 1 1 auto;
  max-width: 200px;
}
#sm-demo > .b > .c > .sm-paginator {
  flex: 1 1 0;
  justify-content: flex-start;
}
