/**
* design
*/
#sm-products.custom > .main > .item > .box > .head svg {
  fill: #f00;
}
#sm-products.custom > .main > .item > .box > .body svg {
  fill: #008000;
}
#sm-products.custom > .main > .item > .box > .foot svg {
  fill: #00f;
}
#sm-products.custom > .main > .item.empty > .box > div {
  display: flex;
}
#sm-products.custom.inactive {
  visibility: visible;
  pointer-events: auto;
}
div.sm-paginator.custom > div.inactive {
  pointer-events: auto;
}
div.sm-paginator.custom > div.inactive > .range {
  padding: 0;
}
div.sm-paginator.custom > div.inactive > .range > div {
  flex: 100 100 0;
  display: flex;
  padding: 4px 1px 4px 1px;
}
div.sm-paginator.custom > div.inactive > .range > svg {
  display: none;
}
div.sm-paginator.custom > div.inactive > .range > .page.ix,
div.sm-paginator.custom > div.inactive > .range > page.xi {
  opacity: 0.4;
}
