/**
* storefront modern styles
*/
.sm-blocks {
  --height: 48px;
  --font-size: calc(0.35 * var(--height));
  position: relative;
  box-sizing: border-box;
  min-width: 0;
  min-height: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-size: var(--font-size);
}
.sm-blocks div,
.sm-blocks button,
.sm-blocks select,
.sm-blocks input,
.sm-blocks label,
.sm-blocks svg,
.sm-blocks img,
.sm-blocks hr,
.sm-blocks h1,
.sm-blocks h2,
.sm-blocks h3 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  background-color: transparent;
}
.sm-blocks button,
.sm-blocks input,
.sm-blocks optgroup,
.sm-blocks select,
.sm-blocks textarea,
.sm-blocks label {
  font-family: inherit;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  outline: 0;
  text-transform: none;
  text-decoration: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-break: keep-all;
}
.sm-blocks svg {
  width: 100%;
  height: 100%;
}
.sm-blocks button {
  cursor: pointer;
  color: transparent;
}
.sm-blocks button > svg {
  fill: transparent;
  stroke: transparent;
}
.sm-blocks > div {
  overflow: hidden;
  min-width: 0;
  min-height: 0;
  pointer-events: none;
  opacity: 0;
}
.sm-blocks > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill: rgba(192,192,192,0.2);
}
.sm-blocks.v > div {
  opacity: 0.6;
}
.sm-blocks.v > div.v {
  pointer-events: auto;
  opacity: 1;
}
.sm-blocks.v > svg {
  display: none;
}
.sm-blocks.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 1em 0 1em 0;
}
.sm-blocks.grid > div {
  --columns: 4;
  --column-gap: 4px;
  --row-gap: 4px;
  --item-max-x: 304px;
  --item-max-y: 640px;
  --item-sz-1: 35;
  --item-sz-2: 40;
  --item-sz-3: 25;
  --font-size: 20px;
  --font-size-header: calc(var(--font-size) + 4px);
  --rows: 1;
  --height: calc(var(--rows) * var(--item-max-y));
  --svg-icon-size: calc(10px + var(--font-size));
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-column-gap: var(--column-gap);
  grid-row-gap: var(--row-gap);
  justify-content: center;
  width: 100%;
  height: var(--height);
  max-width: calc(var(--columns) * var(--item-max-x));
  max-height: calc(var(--rows) * var(--item-max-y));
}
.sm-blocks.grid > div > .item {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.sm-blocks.grid > div > .item > .box {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  max-width: var(--item-max-x);
  max-height: var(--item-max-y);
  background-color: #dcdcdc;
}
.sm-blocks.grid > div > .item > .box .ph {
  position: relative;
}
.sm-blocks.grid > div > .item > .box .ph > * {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.sm-blocks.grid > div > .item > .box .ph > div {
  display: none;
}
.sm-blocks.grid > div > .item > .box .ph.loaded > div {
  display: flex;
}
.sm-blocks.grid > div > .item > .box .ph.loaded > svg {
  display: none;
}
.sm-blocks.grid > div > .item > .box > div {
  flex-shrink: 100;
  display: flex;
  flex-direction: column;
}
.sm-blocks.grid > div > .item > .box > div > div {
  flex-grow: 100;
  flex-shrink: 100;
  display: flex;
}
.sm-blocks.grid > div > .item > .box > .head {
  flex-grow: var(--item-sz-1);
}
.sm-blocks.grid > div > .item > .box > .head > div {
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}
.sm-blocks.grid > div > .item > .box > .head > div > img {
  max-width: 100%;
  max-height: 100%;
}
.sm-blocks.grid > div > .item > .box > .body {
  flex-grow: var(--item-sz-2);
}
.sm-blocks.grid > div > .item > .box > .body > .icon {
  max-height: calc(2 * var(--font-size-header));
  display: flex;
}
.sm-blocks.grid > div > .item > .box > .body > .icon > .a {
  flex: 1 1 30%;
}
.sm-blocks.grid > div > .item > .box > .body > .icon > .b {
  flex: 1 1 70%;
}
.sm-blocks.grid > div > .item > .box > .body > .title {
  max-height: calc(3 * var(--font-size-header));
}
.sm-blocks.grid > div > .item > .box > .body > .title > div,
.sm-blocks.grid > div > .item > .box > .body > .title > div > button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: var(--font-size-header);
  line-height: 1;
  text-align: center;
  word-break: keep-all;
  overflow: hidden;
}
.sm-blocks.grid > div > .item > .box > .foot {
  flex-grow: var(--item-sz-3);
}
.sm-blocks.grid > div > .item > .box > .foot > .price {
  max-height: calc(3 * var(--font-size));
  font-size: var(--font-size-header);
}
.sm-blocks.grid > div > .item > .box > .foot > .price > div {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sm-blocks.grid > div > .item > .box > .foot > .price > div > .old {
  display: none;
  line-height: 0.65em;
  opacity: 0.7;
}
.sm-blocks.grid > div > .item > .box > .foot > .price > div > .old > span {
  text-decoration: line-through;
  font-size: 0.65em;
}
.sm-blocks.grid > div > .item > .box > .foot > .price > div > .current {
  display: flex;
  line-height: 0.9em;
}
.sm-blocks.grid > div > .item > .box > .foot > .price > div > .current > .currency {
  font-size: 1em;
  padding-right: 0.2em;
}
.sm-blocks.grid > div > .item > .box > .foot > .price > div > .current > .value {
  font-size: 1em;
  font-weight: bold;
}
.sm-blocks.grid > div > .item > .box > .foot > .price > div > .current > .mantissa {
  font-size: 0.7em;
  padding-top: 0.1em;
  display: flex;
}
.sm-blocks.grid > div > .item > .box > .foot > .price > div.none {
  display: none;
}
.sm-blocks.grid > div > .item > .box > .foot > .price > div.lower > .old {
  display: block;
}
.sm-blocks.grid > div > .item > .box > .foot > .price > div.right > .current > .currency {
  order: 2;
  padding-left: 0.2em;
  padding-right: 0;
}
.sm-blocks.grid > div > .item > .box > .foot > .controls {
  max-height: calc(3 * var(--font-size));
}
.sm-blocks.grid > div > .item > .box > .foot > .controls > div {
  padding-left: 4px;
  padding-right: 4px;
}
.sm-blocks.grid > div > .item > .box > .foot > .controls > div a,
.sm-blocks.grid > div > .item > .box > .foot > .controls > div button {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: var(--font-size);
  font-weight: bold;
  border-width: 0;
  border-style: solid;
  border-color: #708090;
  border-radius: 2px;
  background-color: #dcdcdc;
  color: #000;
  outline: 0;
  cursor: pointer;
}
.sm-blocks.grid > div > .item > .box > .foot > .controls > div a:focus,
.sm-blocks.grid > div > .item > .box > .foot > .controls > div button:focus {
  border-width: 1px;
  background-color: #c0c0c0;
}
.sm-blocks.grid > div > .item > .box > .foot > .controls > div a:hover,
.sm-blocks.grid > div > .item > .box > .foot > .controls > div button:hover {
  background-color: #c0c0c0;
}
.sm-blocks.grid > div > .item > .box > .foot > .controls > div .cart {
  max-width: calc(30px + var(--svg-icon-size));
}
.sm-blocks.grid > div > .item > .box > .foot > .controls > div .cart > svg {
  width: var(--svg-icon-size);
  height: auto;
  fill: #000;
}
.sm-blocks.grid > div > .item > .box > .foot > .controls > div .cart.none {
  display: none;
}
.sm-blocks.grid > div > .item.empty > .box {
  border-style: solid;
  border-color: #dcdcdc;
  border-width: 1px;
}
.sm-blocks.grid > div > .item.empty > .box > div {
  display: none;
}
.sm-blocks.grid > div.x > .item > .box {
  flex-direction: row;
  max-width: 100%;
  max-height: var(--item-max-x);
}
.sm-blocks.grid > div.x > .item > .box .ph {
  max-height: 100%;
}
.sm-blocks.grid > div.x > .item > .box > .image {
  max-width: var(--item-max-x);
  max-height: 100%;
}
.sm-blocks.grid > div.x > .item > .box > .controls {
  max-width: calc(1.5 * var(--item-C));
  max-height: 100%;
}
.sm-blocks.grid > div.v > .item > .box {
  background-color: transparent;
}
.sm-blocks.category-filter > div {
  display: flex;
  flex-direction: column;
}
.sm-blocks.category-filter > div > .title {
  display: flex;
}
.sm-blocks.category-filter > div > .title > h3 {
  flex: 1 1 0;
  font-size: 2em;
  font-weight: bold;
  margin: 0;
}
.sm-blocks.category-filter > div > hr {
  height: 1px;
  margin: 0;
  color: #d3d3d3;
}
.sm-blocks.category-filter > div > .section {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 0;
}
.sm-blocks.category-filter > div > .section .item > .name {
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  flex-direction: row;
}
.sm-blocks.category-filter > div > .section .item > .name > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sm-blocks.category-filter > div > .section .item > .name > .box {
  flex: 1 1 0;
  min-width: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
}
.sm-blocks.category-filter > div > .section .item > .name > .box > input {
  flex: 0 0 0;
  width: 0;
  height: 0;
  min-width: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
  border-style: none;
  border-width: 0;
  opacity: 0;
  position: static;
  outline: none;
}
.sm-blocks.category-filter > div > .section .item > .name > .box > input:focus ~ .check {
  border-width: 2px;
}
.sm-blocks.category-filter > div > .section .item > .name > .box > .check {
  flex: 0 0 0;
  min-width: 20px;
  min-height: 20px;
  border: 1px solid #708090;
  border-radius: 2px;
  background-color: #fff;
  position: relative;
}
.sm-blocks.category-filter > div > .section .item > .name > .box > .check > svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  fill: #fff;
  stroke: #c0c0c0;
}
.sm-blocks.category-filter > div > .section .item > .name > .box > .check.checked {
  background-color: #000;
}
.sm-blocks.category-filter > div > .section .item > .name > .box > .check.checked > svg:nth-child(1) {
  opacity: 1;
}
.sm-blocks.category-filter > div > .section .item > .name > .box > .check.indeterminated {
  background-color: #000;
}
.sm-blocks.category-filter > div > .section .item > .name > .box > .check.indeterminated > svg:nth-child(2) {
  opacity: 1;
}
.sm-blocks.category-filter > div > .section .item > .name > .box > .check.disabled {
  background-color: #dcdcdc;
}
.sm-blocks.category-filter > div > .section .item > .name > .box > label {
  flex: 1 1 0;
  padding-top: 1px;
  padding-bottom: 0;
  padding-left: 8px;
  padding-right: 0;
  min-width: 0;
  margin: 0;
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  user-select: none;
  font-weight: normal;
  color: #000;
}
.sm-blocks.category-filter > div > .section .item > .name > .box:hover {
  padding-left: 1px;
}
.sm-blocks.category-filter > div > .section .item > .name > .box:hover > .check {
  border-width: 2px;
}
.sm-blocks.category-filter > div > .section .item > .name > .count {
  flex: 0 0 auto;
  white-space: nowrap;
}
.sm-blocks.category-filter > div > .section .item > .name > .arrow {
  flex: 1 1 0;
  min-width: 20px;
  max-width: 48px;
  justify-content: flex-end;
  cursor: pointer;
}
.sm-blocks.category-filter > div > .section .item > .name > .arrow > svg {
  width: auto;
  height: 100%;
  max-height: 24px;
  transform: rotate(90deg);
  fill: #c0c0c0;
  stroke: #000;
}
.sm-blocks.category-filter > div > .section .item > .name > .arrow:hover > svg {
  fill: #000;
  stroke: #c0c0c0;
}
.sm-blocks.category-filter > div > .section .item > .name > .arrow.opened > svg {
  transform: rotate(0deg);
  fill: #000;
}
.sm-blocks.category-filter > div > .section .item > .section {
  display: none;
  opacity: 0;
  padding-left: 20px;
}
.sm-blocks.category-filter > div > .section .item > .section.opened {
  display: block;
  opacity: 1;
}
.sm-blocks.paginator {
  --width: calc(1.35 * var(--height));
  width: 100%;
  height: calc(8px + var(--height));
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.sm-blocks.paginator > div {
  flex: 0 0 auto;
  width: auto;
  max-width: 10000px;
  display: flex;
  flex-direction: row;
  touch-action: none;
}
.sm-blocks.paginator > div > .goto {
  flex: 1 1 0;
  max-width: calc(2px + var(--width));
  padding: 4px 0 4px 0;
}
.sm-blocks.paginator > div > .goto.prev {
  padding-left: 2px;
}
.sm-blocks.paginator > div > .goto.next {
  padding-right: 2px;
}
.sm-blocks.paginator > div > .goto > button {
  width: 100%;
  height: 100%;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
  background-color: #dcdcdc;
  box-shadow: inset 0 0 10px 0 #c0c0c0;
  touch-action: none;
}
.sm-blocks.paginator > div > .goto > button:hover {
  border-color: #2f4f4f;
}
.sm-blocks.paginator > div > .goto > button:active,
.sm-blocks.paginator > div > .goto > button:focus {
  background-color: #c0c0c0;
  border-color: #2f4f4f;
  box-shadow: inset 0 0 0 1px #fff;
}
.sm-blocks.paginator > div > .goto.active {
  padding-top: 2px;
  padding-bottom: 2px;
}
.sm-blocks.paginator > div > .goto.active > button {
  background-color: #000;
  padding: 4px;
}
.sm-blocks.paginator > div > .goto.active > button > svg {
  fill: #fff;
}
.sm-blocks.paginator > div > .sep {
  flex: 1 1 0;
  max-width: 8px;
  padding: 2px 0 2px 0;
}
.sm-blocks.paginator > div > .sep.first {
  padding-left: 0;
}
.sm-blocks.paginator > div > .sep.last {
  padding-right: 0;
}
.sm-blocks.paginator > div > .sep > svg {
  fill: #c0c0c0;
}
.sm-blocks.paginator > div > .range {
  --count: 0;
  --max-width: calc(2px + (1 + var(--count)) * var(--width));
  --page-size: var(--width);
  flex: 1 0 0;
  width: 10000px;
  max-width: var(--max-width);
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.sm-blocks.paginator > div > .range > div {
  display: none;
}
.sm-blocks.paginator > div > .range > div.v {
  display: flex;
}
.sm-blocks.paginator > div > .range > .gap {
  flex: 0 100 0;
  min-width: calc(0.25 * var(--width));
  padding: 4px 0 4px 0;
}
.sm-blocks.paginator > div > .range > .gap > svg {
  fill: #c0c0c0;
}
.sm-blocks.paginator > div > .range > .page {
  flex: 0 0 0;
  min-width: var(--page-size);
  padding: 4px 1px 4px 1px;
}
.sm-blocks.paginator > div > .range > .page > button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #c0c0c0;
  border-radius: 2px;
  background-color: #dcdcdc;
  box-shadow: inset 0 0 10px 0 #c0c0c0;
  touch-action: none;
}
.sm-blocks.paginator > div > .range > .page > button:hover {
  font-weight: bolder;
  border-color: #2f4f4f;
  color: #708090;
}
.sm-blocks.paginator > div > .range > .page > button:active,
.sm-blocks.paginator > div > .range > .page > button:focus {
  font-weight: bolder;
  background-color: #c0c0c0;
  border-color: #2f4f4f;
  color: #708090;
  box-shadow: inset 0 0 0 1px #fff;
}
.sm-blocks.paginator > div > .range > .page.current {
  min-width: calc(2px + var(--page-size));
  padding-top: 2px;
  padding-bottom: 2px;
}
.sm-blocks.paginator > div > .range > .page.current > button {
  font-size: 1.4em;
  border-color: #000;
  background-color: #000;
  cursor: grab;
}
.sm-blocks.paginator > div > .range > .page.current > button:hover {
  color: #789;
}
.sm-blocks.paginator > div > .range > .page.current > button:active,
.sm-blocks.paginator > div > .range > .page.current > button:focus {
  box-shadow: inset 0 0 1px 1px #fff;
}
.sm-blocks.paginator > div > .range.nogap {
  --max-width: calc(2px + var(--count) * var(--width));
}
.sm-blocks.paginator > div > .range.nogap > .page.current > button {
  cursor: default;
}
.sm-blocks.paginator > div > .range.active.drag {
  cursor: grabbing;
}
.sm-blocks.paginator.v > div.flexy {
  width: 100%;
}
.sm-blocks.paginator.v > div.flexy > .range {
  width: 100%;
  max-width: 100%;
}
.sm-blocks.paginator.v > div.flexy > .range > .gap {
  padding: 4px 1px 4px 1px;
}
.sm-blocks.paginator.v > div.flexy > .range.active > .gap > svg {
  fill: #c0c0c0;
}
.sm-blocks.paginator.v > div.flexy > .range.nogap > .page {
  flex-grow: 1;
}
.sm-blocks.paginator.v > div.nosep > .goto.prev {
  padding-right: 1px;
}
.sm-blocks.paginator.v > div.nosep > .goto.next {
  padding-left: 1px;
}
.sm-blocks.paginator.v > div.v > .goto > button > svg {
  fill: #708090;
}
.sm-blocks.paginator.v > div.v > .range > .gap > svg {
  fill: #c0c0c0;
}
.sm-blocks.paginator.v > div.v > .range > .page > button {
  color: #000;
}
.sm-blocks.paginator.v > div.v > .range > .page.current > button {
  color: #fff;
}
.sm-blocks.paginator.v > div.v.flexy > .range > .gap > svg {
  fill: #dcdcdc;
}
.sm-blocks.paginator.v > div.v.flexy > .range.active > .gap > svg {
  fill: #c0c0c0;
}
.sm-blocks.paginator.v > div.v.hovered > .sep > svg {
  fill: #708090;
}
.sm-blocks.orderer {
  width: 100%;
  height: calc(8px + var(--height));
  padding: 4px 0 4px 0;
}
.sm-blocks.orderer > div {
  width: 100%;
  height: 100%;
}
.sm-blocks.orderer > div > .variant {
  position: absolute;
  width: auto;
  height: 100%;
  opacity: 0;
}
.sm-blocks.orderer > div > .variant.left {
  top: 0;
  left: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 1px;
  padding-right: 0;
}
.sm-blocks.orderer > div > .variant.right {
  top: 0;
  right: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 0;
  padding-right: 1px;
}
.sm-blocks.orderer > div > .variant.a {
  pointer-events: none;
}
.sm-blocks.orderer > div > .variant.a.left > button > svg {
  transform: rotate(-90deg);
}
.sm-blocks.orderer > div > .variant.a.right > button > svg {
  transform: rotate(90deg);
}
.sm-blocks.orderer > div > .variant.b > button > svg {
  transform: rotate(0deg);
}
.sm-blocks.orderer > div > .variant.c.left > button > svg {
  transform: rotate(-180deg);
}
.sm-blocks.orderer > div > .variant.c.right > button > svg {
  transform: rotate(180deg);
}
.sm-blocks.orderer > div > .variant > button {
  width: var(--height);
  height: 100%;
  background-color: transparent;
  padding-left: 4px;
  padding-right: 4px;
}
.sm-blocks.orderer > div > .variant > button > svg {
  display: block;
  width: 100%;
  height: 100%;
  stroke-width: 1;
  fill: #708090;
  stroke: #2f4f4f;
}
.sm-blocks.orderer > div > .variant > button:hover > svg,
.sm-blocks.orderer > div > .variant > button:active > svg,
.sm-blocks.orderer > div > .variant > button:focus > svg {
  fill: #000;
  stroke: #708090;
}
.sm-blocks.orderer > div > select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  height: 100%;
  font-weight: bold;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
  background-color: #dcdcdc;
  color: transparent;
  box-shadow: inset 0 0 10px 0 #c0c0c0;
  outline: none;
  cursor: pointer;
/***
			&:disabled
				color: graytext
				background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
					linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%)
				&:hover
					border-color: #aaa
			/***/
}
.sm-blocks.orderer > div > select.left {
  padding-left: calc(2px + var(--height));
  padding-right: var(--font-size);
}
.sm-blocks.orderer > div > select.right {
  padding-left: var(--font-size);
  padding-right: calc(2px + var(--height));
}
.sm-blocks.orderer > div > select.left.right {
  padding-left: calc(2px + var(--height));
  text-align: center;
}
.sm-blocks.orderer > div > select > option {
  font-weight: bold;
  background-color: #dcdcdc;
}
.sm-blocks.orderer > div > select > option:checked {
  color: #c0c0c0;
}
.sm-blocks.orderer > div > select > option:hover {
  background-color: #000;
  color: #fff;
}
.sm-blocks.orderer > div > select:hover {
  color: #000;
}
.sm-blocks.orderer > div > select:focus {
  color: #000;
  background-color: #c0c0c0;
  border-color: #2f4f4f;
  box-shadow: inset 0 0 0 1px #fff;
}
.sm-blocks.orderer > div > select:-ms-expand {
  display: none;
}
.sm-blocks.orderer > div.v > .variant {
  opacity: 1;
}
.sm-blocks.orderer > div.v > select {
  color: #2f4f4f;
}
.sm-blocks.orderer > div.v.hovered > select {
  border-color: #2f4f4f;
}
.sm-blocks.price-filter {
  width: 100%;
  height: calc(8px + var(--height));
  padding: 4px 0 4px 0;
}
.sm-blocks.price-filter > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sm-blocks.price-filter > div.text > div {
  flex: 3 1 0;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.2em 0 0.2em 0;
}
.sm-blocks.price-filter > div.text > div > input {
  width: 100%;
  height: 100%;
  font-size: 1em;
  font-weight: bold;
  padding: 0.5em;
  background-color: #dcdcdc;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
  box-shadow: inset 0 0 10px 0 #c0c0c0;
}
.sm-blocks.price-filter > div.text > div.hovered > input {
  border-color: #808080;
  box-shadow: inset 0 0 0 2px #c0c0c0;
}
.sm-blocks.price-filter > div.text > div.hovered:not(.focused) > input {
  cursor: ns-resize;
}
.sm-blocks.price-filter > div.text > div.focused > input {
  background-color: rgba(220,220,220,0.6);
  border-color: #808080;
  box-shadow: inset 0 0 0 2px #c0c0c0;
}
.sm-blocks.price-filter > div.text > div.left > input {
  border-right-width: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  text-align: right;
}
.sm-blocks.price-filter > div.text > div.right > input {
  border-left-width: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.sm-blocks.price-filter > div.text > svg {
  flex: 1 3 0;
  height: calc(var(--height) - 0.4em);
  max-width: 48px;
  fill: #c0c0c0;
}
.sm-blocks.price-filter > div.text > svg > .left {
  fill: #a9a9a9;
}
.sm-blocks.price-filter > div.text > svg > .inputState {
  fill: #708090;
}
.sm-blocks.price-filter > div.text > svg > .right {
  fill: #a9a9a9;
}
.sm-blocks.price-filter > div.text.v > div > input {
  color: #2f4f4f;
}
.sm-blocks.price-filter > div.text.v.hovered > svg > .inputState {
  fill: #708090;
}
.sm-blocks.price-filter > div.text.v.hovered:not(.left):not(.right) > svg > .inputState {
  fill: #6a5acd;
}
.sm-blocks.price-filter > div.text.v.hovered.left > svg > .left,
.sm-blocks.price-filter > div.text.v.focused.left > svg > .left {
  fill: #708090;
  transform: translateX(1px);
}
.sm-blocks.price-filter > div.text.v.hovered.right > svg > .right,
.sm-blocks.price-filter > div.text.v.focused.right > svg > .right {
  fill: #708090;
  transform: translateX(-1px);
}
.sm-blocks.price-filter > div.text.v.focused.left > div.left > input {
  color: #000;
}
.sm-blocks.price-filter > div.text.v.focused.right > div.right > input {
  color: #000;
}
.sm-blocks.price-filter > div.text.v.focused > svg > .inputState {
  fill: #6a5acd;
}
.sm-blocks.main-section {
  width: 100%;
  height: auto;
  padding: 4px 0 4px 0;
}
.sm-blocks.main-section > div {
  display: flex;
  flex-direction: column;
}
.sm-blocks.main-section > div > .title {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 3em;
  padding: 0.6em 0 0.4em 0;
}
.sm-blocks.main-section > div > .title > h3 {
  flex: 1 1 0;
  font-size: 2em;
  font-weight: bold;
  display: flex;
  align-items: center;
  color: #708090;
  cursor: pointer;
  user-select: none;
}
.sm-blocks.main-section > div > .title > .arrow {
  flex: 0 0 0;
  height: 100%;
  min-width: 2em;
}
.sm-blocks.main-section > div > .title > .arrow > button {
  height: 100%;
  background-color: transparent;
  padding: 0.2em;
}
.sm-blocks.main-section > div > .title > .arrow > button > svg {
  stroke: #000;
  fill: #c0c0c0;
  transform: rotate(90deg);
}
.sm-blocks.main-section > div > .line {
  height: 4px;
  margin: 0;
  color: #d3d3d3;
}
.sm-blocks.main-section > div.main > .section {
  padding: 0;
}
.sm-blocks.main-section > div .section {
  display: none;
  width: 100%;
  height: 0;
  min-height: 0;
  opacity: 0;
  padding-left: 1em;
  overflow: hidden;
}
.sm-blocks.main-section > div .section > .item > .title {
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  flex-direction: row;
}
.sm-blocks.main-section > div .section > .item > .title > h3 {
  cursor: pointer;
}
.sm-blocks.main-section > div .section > .item > .title > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sm-blocks.main-section > div .section > .item > .title > .box {
  flex: 1 1 0;
  min-width: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
}
.sm-blocks.main-section > div .section > .item > .title > .box > input {
  flex: 0 0 0;
  width: 0;
  height: 0;
  min-width: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
  border-style: none;
  border-width: 0;
  opacity: 0;
  position: static;
  outline: none;
}
.sm-blocks.main-section > div .section > .item > .title > .box > input:focus ~ .check {
  border-width: 2px;
}
.sm-blocks.main-section > div .section > .item > .title > .box > .check {
  flex: 0 0 0;
  min-width: 20px;
  min-height: 20px;
  border: 1px solid #708090;
  border-radius: 2px;
  background-color: #fff;
  position: relative;
}
.sm-blocks.main-section > div .section > .item > .title > .box > .check > svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  fill: #fff;
  stroke: #c0c0c0;
}
.sm-blocks.main-section > div .section > .item > .title > .box > .check.checked {
  background-color: #000;
}
.sm-blocks.main-section > div .section > .item > .title > .box > .check.checked > svg:nth-child(1) {
  opacity: 1;
}
.sm-blocks.main-section > div .section > .item > .title > .box > .check.indeterminated {
  background-color: #000;
}
.sm-blocks.main-section > div .section > .item > .title > .box > .check.indeterminated > svg:nth-child(2) {
  opacity: 1;
}
.sm-blocks.main-section > div .section > .item > .title > .box > .check.disabled {
  background-color: #dcdcdc;
}
.sm-blocks.main-section > div .section > .item > .title > .box > label {
  flex: 1 1 0;
  padding-top: 1px;
  padding-bottom: 0;
  padding-left: 8px;
  padding-right: 0;
  min-width: 0;
  margin: 0;
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  user-select: none;
  font-weight: normal;
  color: #000;
}
.sm-blocks.main-section > div .section > .item > .title > .box:hover {
  padding-left: 1px;
}
.sm-blocks.main-section > div .section > .item > .title > .box:hover > .check {
  border-width: 2px;
}
.sm-blocks.main-section > div .section > .item > .title > .count {
  flex: 0 0 auto;
  white-space: nowrap;
}
.sm-blocks.main-section > div .section > .item > .title > .arrow {
  flex: 1 1 0;
  min-width: 20px;
  max-width: 48px;
  justify-content: flex-end;
  cursor: pointer;
}
.sm-blocks.main-section > div .section > .item > .title > .arrow > svg {
  width: auto;
  height: 100%;
  max-height: 24px;
  transform: rotate(90deg);
  fill: #c0c0c0;
  stroke: #000;
}
.sm-blocks.main-section > div .section > .item > .title > .arrow:hover > svg {
  fill: #000;
  stroke: #c0c0c0;
}
.sm-blocks.main-section > div .section > .item > .title > .arrow.opened > svg {
  transform: rotate(0deg);
  fill: #000;
}
.sm-blocks.main-section > div.opened > .title > h3 {
  color: #2f4f4f;
}
.sm-blocks.main-section > div.opened > .title > .arrow > button > svg {
  stroke: #2f4f4f;
  fill: #000;
  transform: rotate(0deg);
}
.sm-blocks.main-section > div.opened > .section {
  display: block;
  height: auto;
  opacity: 1;
}
.sm-blocks.main-section > div.hovered > .title > h3,
.sm-blocks.main-section > div.focused > .title > h3 {
  color: #2f4f4f;
}
.sm-blocks.main-section > div.hovered > .title > .arrow > button > svg,
.sm-blocks.main-section > div.focused > .title > .arrow > button > svg {
  stroke: #c0c0c0;
  fill: #000;
}
.sm-blocks.main-section > div.hovered > .line,
.sm-blocks.main-section > div.focused > .line {
  fill: #808080;
}
.sm-blocks.main-section > div.hovered.opened > .title > h3,
.sm-blocks.main-section > div.focused.opened > .title > h3 {
  color: #708090;
}
.sm-blocks.main-section > div.hovered.opened > .title > .arrow > button > svg,
.sm-blocks.main-section > div.focused.opened > .title > .arrow > button > svg {
  stroke: #000;
  fill: #c0c0c0;
}
.sm-blocks.main-section > div.focused > .title > h3 {
  color: #2f4f4f;
}
.sm-blocks.main-section > div.focused > .title > .arrow > button > svg {
  stroke: #c0c0c0;
  fill: #6a5acd;
}
.sm-blocks.main-section > div.focused.opened > .title > h3 {
  color: #2f4f4f;
}
.sm-blocks.main-section > div.focused.opened > .title > .arrow > button > svg {
  stroke: #000;
  fill: #6a5acd;
}
.sm-blocks.main-section > div.v {
  font-size: 1em;
}
