/**
* demo
*/
#sm-demo {
  display: flex;
  padding: 0 8px 0 8px;
}
#sm-demo > .a {
  flex: 1 1 0;
  max-width: 300px;
  padding-right: 8px;
}
#sm-demo > .b {
  flex: 1 1 0;
}
#sm-demo > .b > .c {
  display: flex;
}
#sm-demo > .b > .c > .orderer {
  flex: 1 2 auto;
  max-width: 220px;
}
#sm-demo > .b > .c > .paginator {
  flex: 2 1 0;
  justify-content: flex-end;
}
