.sm.menu {
  --root-size: 1em;
  --item-size: 0.75em;
  width: 100%;
  height: auto;
  padding: 4px 2px 4px 2px;
  overflow: visible;
}
.sm.menu > div {
  width: 100%;
  height: var(--root-size);
  position: relative;
  overflow: visible;
  opacity: 1;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 2px;
}
.sm.menu > div > svg.shield {
  position: absolute;
  z-index: 999;
  width: 0;
  height: 0;
  pointer-events: none;
  display: none;
  opacity: 0;
}
.sm.menu > div > svg.shield > polygon {
  pointer-events: auto;
}
.sm.menu > div > svg.shield > polygon.a {
  cursor: default;
  fill: #dc143c;
}
.sm.menu > div > svg.shield > polygon.b {
  cursor: pointer;
  fill: #708090;
}
.sm.menu > div > svg.shield.v {
  display: block;
}
.sm.menu > div button {
  width: auto;
  padding: 0.125em 0.25em 0.125em 0.25em;
  position: relative;
  border: 0;
  background-color: transparent;
  box-shadow: none;
}
.sm.menu > div button > .label {
  width: auto;
  height: 100%;
  align-items: center;
  font-family: var(--sm-font-label);
}
.sm.menu > div button > .arrow {
  position: absolute;
  display: none;
}
.sm.menu > div button > .arrow > .a {
  fill: rgba(var(--sm-color-5),1);
}
.sm.menu > div button > .arrow > .b {
  fill: rgba(var(--sm-color-2),1);
}
.sm.menu > div button.drop > .arrow {
  display: block;
}
.sm.menu > div > button {
  width: auto;
  height: var(--root-size);
  opacity: 0.6;
  flex: 0 0 auto;
}
.sm.menu > div > button > .label {
  width: auto;
  height: 100%;
  justify-content: center;
  font-size: calc(var(--root-size) / 2);
}
.sm.menu > div > button > .arrow {
  width: calc(0.75 * var(--root-size));
  height: calc(0.75 * var(--root-size));
  top: calc(0.125 * var(--root-size));
  right: 0;
  transform: rotate(90deg);
}
.sm.menu > div > button > .arrow > .a {
  fill: rgba(var(--sm-color-5),1);
}
.sm.menu > div > button > .arrow > .b {
  fill: rgba(var(--sm-color-2),1);
}
.sm.menu > div > button > .line {
  width: 100%;
  height: calc(0.084 * var(--root-size));
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: row;
  opacity: 0;
}
.sm.menu > div > button > .line > svg {
  height: 100%;
}
.sm.menu > div > button > .line > svg.a {
  flex: 0 0 0;
  min-width: calc(0.125 * var(--root-size));
}
.sm.menu > div > button > .line > svg.b {
  flex: 1 1 0;
}
.sm.menu > div > button > .line > svg > .a {
  fill: rgba(var(--sm-color-4),1);
}
.sm.menu > div > button > .line > svg > .b {
  fill: rgba(var(--sm-color-2),1);
}
.sm.menu > div > button > .line.a {
  top: 0;
}
.sm.menu > div > button > .line.b {
  bottom: 0;
}
.sm.menu > div > button.drop {
  padding-right: calc(0.75 * var(--root-size));
}
.sm.menu > div > button.v.h > .line,
.sm.menu > div > button.v.f > .line {
  opacity: 1;
}
.sm.menu > div > button.v.f {
  box-shadow: inset 0 0 6px -2px rgba(var(--sm-color-7),1);
}
.sm.menu > div > button.v.o {
  box-shadow: inset 0 0 6px -2px rgba(var(--sm-color-3),1);
}
.sm.menu > div > button.v.o > .arrow {
  transform: rotate(0deg);
}
.sm.menu > div > button.v.o > .arrow > .a {
  fill: rgba(var(--sm-color-4),1);
}
.sm.menu > div > button.v.o > .arrow > .b {
  fill: rgba(var(--sm-color-3),1);
}
.sm.menu > div > button.v.o > .line {
  opacity: 1;
}
.sm.menu > div > button.v.o.f {
  background-color: rgba(var(--sm-color-7),0.025);
}
.sm.menu > div > button.v.o.f > .arrow > .a {
  fill: rgba(var(--sm-color-6),1);
}
.sm.menu > div > button.v.w,
.sm.menu > div > button.v.w.h,
.sm.menu > div > button.v.w.f {
  opacity: 1;
  background-color: rgba(var(--sm-color-0),1);
}
.sm.menu > div > button.v.w > .label,
.sm.menu > div > button.v.w.h > .label,
.sm.menu > div > button.v.w.f > .label {
  color: rgba(var(--sm-color-1),1);
}
.sm.menu > div > button.v.w > .line,
.sm.menu > div > button.v.w.h > .line,
.sm.menu > div > button.v.w.f > .line {
  height: 0.167em;
  opacity: 1;
}
.sm.menu > div > button.v.w > .line > .a > .a,
.sm.menu > div > button.v.w.h > .line > .a > .a,
.sm.menu > div > button.v.w.f > .line > .a > .a,
.sm.menu > div > button.v.w > .line > .b > .a,
.sm.menu > div > button.v.w.h > .line > .b > .a,
.sm.menu > div > button.v.w.f > .line > .b > .a {
  fill: rgba(var(--sm-color-1),1);
}
.sm.menu > div > button.x {
  opacity: 1;
  background-color: rgba(var(--sm-color-3),1);
}
.sm.menu > div > button.x > .line {
  height: 0.167em;
  opacity: 1;
}
.sm.menu > div > button.x > .line > .a > .a,
.sm.menu > div > button.x > .line > .b > .a {
  fill: rgba(var(--sm-color-1),1);
}
.sm.menu > div > button.x > .line > .a > .b,
.sm.menu > div > button.x > .line > .b > .b {
  fill: rgba(var(--sm-color-0),1);
}
.sm.menu > div .dropdown {
  padding: 0.333em 0.167em;
  background-color: rgba(var(--sm-color-3),1);
  border: 2px solid rgba(var(--sm-color-4),1);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  box-sizing: border-box;
  position: absolute;
  z-index: 998;
  visibility: hidden;
}
.sm.menu > div .dropdown.o {
  visibility: visible;
}
.sm.menu > div .dropdown > button {
  height: 0.75em;
  padding-right: 0.542em;
}
.sm.menu > div .dropdown > button > .label {
  font-size: 0.375em;
  display: block;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  overflow-wrap: anywhere;
  color: rgba(var(--sm-color-4),1);
}
.sm.menu > div .dropdown > button > .arrow {
  width: 0.667em;
  height: 0.667em;
  top: 0.0415em;
  right: 0;
  transform: rotate(90deg);
}
.sm.menu > div .dropdown > button > .arrow > .a {
  fill: rgba(var(--sm-color-5),1);
}
.sm.menu > div .dropdown > button > .arrow > .b {
  fill: rgba(var(--sm-color-4),1);
}
.sm.menu > div .dropdown > button.v.h,
.sm.menu > div .dropdown > button.v.o {
  background-color: rgba(var(--sm-color-1),0.75);
  box-shadow: inset 0 0 2px 0 rgba(var(--sm-color-0),1);
  border-color: rgba(var(--sm-color-0),0.65);
}
.sm.menu > div .dropdown > button.v.h > .label,
.sm.menu > div .dropdown > button.v.o > .label {
  font-weight: bolder;
  color: rgba(var(--sm-color-0),1);
}
.sm.menu > div .dropdown > button.v.o > .arrow {
  transform: rotate(-90deg);
}
.sm.menu > div .dropdown > button.v.o > .arrow > .a {
  fill: rgba(var(--sm-color-4),1);
}
.sm.menu > div .dropdown > button.v.o > .arrow > .b {
  fill: rgba(var(--sm-color-5),1);
}
.sm.menu > div.v > button {
  opacity: 1;
}
.sm.section {
  width: 100%;
  height: auto;
}
.sm.section > div.item {
  padding: 2px 2px 2px 2px;
}
.sm.section > div.item > .title {
  height: calc(4px + 1em);
  padding: 2px 5px 2px 5px;
}
.sm.section > div.item > .title > div > h3 > label {
  font-size: 0.66em;
  font-weight: bold;
}
.sm.section > div.item > .title > div > button.arrow {
  min-width: 1.2em;
  padding: 0.25em 0.2em 0.15em 0.4em;
}
.sm.section > div.item > .section {
  padding: 4px 4px 4px 4px;
}
.sm.section > div.item > .sep {
  height: 5px;
  padding: 0;
  fill: #dcdcdc;
}
.sm.section > div.item.o0 > .title {
  padding-left: 3px;
  padding-right: 3px;
}
.sm.section > div.item.o0 > .title > div > h3 {
  padding-left: 6px;
}
.sm.section > div.item.o0 > .sep {
  padding-left: 0;
  padding-right: 0;
}
.sm.section > div.item.o1 > .title > div > h3 {
  padding-left: 8px;
}
.sm.section > div.item.o1 > .sep {
  padding-left: 2px;
  padding-right: 2px;
}
.sm.section > div.item.v.f.h1 > .section {
  opacity: 0.6;
}
.sm.section .item {
  font-size: var(--w3-size);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.sm.section .item > .title {
  height: 0.8em;
  padding: 0.05em 0 0.05em 0;
}
.sm.section .item > .title > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 2%;
}
.sm.section .item > .title > div > h3 {
  flex: 1 1 0;
  padding-left: 0.1em;
  display: flex;
  align-items: center;
  color: #708090;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
}
.sm.section .item > .title > div > h3 > label {
  font-family: var(--sm-font-label);
  font-size: 0.36em;
  letter-spacing: 0;
  cursor: pointer;
}
.sm.section .item > .title > div > button {
  flex: 0 0 0;
  min-width: 0.7em;
  padding: 0.025em;
  background-color: transparent;
}
.sm.section .item > .title > div > button.arrow {
  display: none;
  min-width: 1em;
  padding: 0.12em 0.05em 0.08em 0.45em;
  background-color: transparent;
  border-radius: 1%;
}
.sm.section .item > .title > div > button.arrow.v {
  display: block;
}
.sm.section .item > .title > div > button.arrow > svg {
  width: auto;
  height: 100%;
  transform-origin: 50% 50%;
  transform: rotate(0deg);
}
.sm.section .item > .title > div > button.arrow > svg > .a {
  fill: #c0c0c0;
}
.sm.section .item > .title > div > button.arrow > svg > .b {
  fill: #708090;
}
.sm.section .item > .section {
  padding: 0 0 0 0.2em;
  min-height: 0;
  height: 0;
  opacity: 0;
  display: none;
  overflow: hidden;
}
.sm.section .item.o1 > .title > div > h3 {
  color: #2f4f4f;
}
.sm.section .item.o1 > .title > div > button.arrow > svg {
  transform: rotate(180deg);
}
.sm.section .item.o1 > .title > div > button.arrow > svg > .a {
  fill: #708090;
}
.sm.section .item.o1 > .title > div > button.arrow > svg > .b {
  fill: #c0c0c0;
}
.sm.section .item.o1 > .section {
  display: block;
  height: auto;
  opacity: 1;
}
.sm.section .item.v.o0.e0.h1 > .title > div {
  background-color: rgba(112,128,144,0.04);
}
.sm.section .item.v.o0.e0.h1 > .title > div > h3 {
  color: #2f4f4f;
}
.sm.section .item.v.o0.e0.h1 > .title > div > button.arrow > svg > .a {
  fill: #2f4f4f;
}
.sm.section .item.v.o0.e0.h1 > .title > div > button.arrow > svg > .b {
  fill: #dcdcdc;
}
.sm.section .item.v.o0.e1.h1 > .title > div {
  background-color: rgba(112,128,144,0.04);
}
.sm.section .item.v.o0.e1.h1 > .title > div > button.arrow > svg > .a {
  fill: #2f4f4f;
}
.sm.section .item.v.o0.e1.h1 > .title > div > button.arrow > svg > .b {
  fill: #dcdcdc;
}
.sm.section .item.v.o0.e1.h2 > .title > div {
  background-color: rgba(112,128,144,0.04);
}
.sm.section .item.v.o0.e1.h2 > .title > div > h3 {
  color: #2f4f4f;
}
.sm.section .item.v.o1.e0.h1 > .title > div {
  background-color: rgba(112,128,144,0.04);
}
.sm.section .item.v.o1.e0.h1 > .title > div > h3 {
  color: rgba(47,79,79,0.8);
}
.sm.section .item.v.o1.e0.h1 > .title > div > button.arrow > svg > .a {
  fill: #c0c0c0;
}
.sm.section .item.v.o1.e0.h1 > .title > div > button.arrow > svg > .b {
  fill: #708090;
}
.sm.section .item.v.o1.e1.h1 > .title > div {
  background-color: rgba(112,128,144,0.04);
}
.sm.section .item.v.o1.e1.h1 > .title > div > button.arrow > svg > .a {
  fill: #c0c0c0;
}
.sm.section .item.v.o1.e1.h1 > .title > div > button.arrow > svg > .b {
  fill: #708090;
}
.sm.section .item.v.o1.e1.h2 > .title > div {
  background-color: rgba(112,128,144,0.04);
}
.sm.section .item.v.o1.e1.h2 > .title > div > h3 {
  color: rgba(47,79,79,0.8);
}
.sm.section .item.v.o0.f > .title > div,
.sm.section .item.v.o1.f > .title > div {
  background-color: rgba(106,90,205,0.04);
}
.sm.section .item.v.o0.f > .sep,
.sm.section .item.v.o1.f > .sep {
  fill: rgba(106,90,205,0.6);
}
.sm.section .item.v.o0.f.e0 > .title > button.arrow,
.sm.section .item.v.o1.f.e0 > .title > button.arrow {
  background-color: rgba(123,104,238,0.03);
}
.sm.section .item.v.o0.f.e0 > .title > button.arrow > svg > .a,
.sm.section .item.v.o1.f.e0 > .title > button.arrow > svg > .a {
  fill: #c0c0c0;
}
.sm.section .item.v.o0.f.e0 > .title > button.arrow > svg > .b,
.sm.section .item.v.o1.f.e0 > .title > button.arrow > svg > .b {
  fill: rgba(106,90,205,0.5);
}
.sm.section .item.v.o0.f.e1 > .title > button.arrow.f,
.sm.section .item.v.o1.f.e1 > .title > button.arrow.f {
  background-color: rgba(123,104,238,0.03);
}
.sm.section .item.v.o0.f.e1 > .title > button.arrow.f > svg > .a,
.sm.section .item.v.o1.f.e1 > .title > button.arrow.f > svg > .a {
  fill: #c0c0c0;
}
.sm.section .item.v.o0.f.e1 > .title > button.arrow.f > svg > .b,
.sm.section .item.v.o1.f.e1 > .title > button.arrow.f > svg > .b {
  fill: rgba(106,90,205,0.5);
}
.sm.section .item.v.active > .title > h3 {
  color: #6a5acd;
  filter: brightness(80%);
}
.sm.orderer {
  width: 100%;
  height: calc(8px + var(--w3-size));
  padding: 4px 0 4px 0;
}
.sm.orderer > div {
  width: 100%;
  height: 100%;
}
.sm.orderer > div > button {
  font-size: var(--w3-size);
  width: 0.95em;
  height: 100%;
  padding: 0.025em 0 0.025em 0.045em;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
}
.sm.orderer > div > div > select {
  padding-left: calc(0.95 * var(--w3-size));
}
.sm.orderer > div > div > svg {
  fill: transparent;
}
.sm.orderer > div.a > button > svg > .a2 > .a {
  fill: transparent;
}
.sm.orderer > div.a > button > svg > .a2 > .b {
  fill: #c0c0c0;
}
.sm.orderer > div.b > button > svg {
  transform: rotate(90deg);
}
.sm.orderer > div.b > button > svg > .a1 > .a {
  fill: #c0c0c0;
}
.sm.orderer > div.b > button > svg > .a1 > .b {
  fill: #708090;
}
.sm.orderer > div.c > button > svg > .a1 > .a {
  fill: #c0c0c0;
}
.sm.orderer > div.c > button > svg > .a1 > .b {
  fill: #708090;
}
.sm.orderer > div.v > button {
  opacity: 1;
}
.sm.orderer > div.v.hovered > div > select {
  border-color: #2f4f4f;
}
.sm.orderer > div.v.hovered.b > button.h > svg > .a1 > .b,
.sm.orderer > div.v.hovered.c > button.h > svg > .a1 > .b {
  fill: #2f4f4f;
}
.sm.orderer > div.v.focused > div > select {
  background-color: #c0c0c0;
  border-color: #2f4f4f;
  box-shadow: inset 0 0 0 0.04em #fff;
}
.sm.orderer > div.v.focused.b > button.f > svg > .a1 > .a,
.sm.orderer > div.v.focused.c > button.f > svg > .a1 > .a {
  fill: #dcdcdc;
}
.sm.orderer > div.v.focused.b > button.f > svg > .a1 > .b,
.sm.orderer > div.v.focused.c > button.f > svg > .a1 > .b {
  fill: #2f4f4f;
}
.sm.paginator {
  width: 100%;
  height: calc(8px + var(--w3-size));
  padding: 4px 0 4px 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}
.sm.paginator > div {
  font-size: var(--w3-size);
  flex: 0 0 auto;
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  touch-action: none;
}
.sm.paginator > div > div {
  flex: 1 0 0;
}
.sm.paginator > div > .goto {
  max-width: 1.05em;
}
.sm.paginator > div > .goto.PN > button {
  padding: 0.25em 0 0.25em 0;
}
.sm.paginator > div > .goto.PN > button > svg {
  width: auto;
  height: 100%;
}
.sm.paginator > div > .goto.PN.active > button {
  padding: 0;
}
.sm.paginator > div > .goto.both.P {
  padding-left: 0.05em;
}
.sm.paginator > div > .goto.both.N {
  padding-right: 0.05em;
}
.sm.paginator > div > .sep {
  max-width: 0.19em;
  padding: 0.02em 0 0.02em 0;
}
.sm.paginator > div > .sep > svg {
  fill: #c0c0c0;
}
.sm.paginator > div > .sep.L {
  padding-left: 0;
}
.sm.paginator > div > .sep.R {
  padding-right: 0;
}
.sm.paginator > div > .range {
  --count: 0;
  --page-size: 1.34em;
  font-size: var(--page-size);
  max-width: calc(1em + 1em * var(--count));
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.sm.paginator > div > .range > div {
  display: none;
}
.sm.paginator > div > .range > div.v {
  display: block;
}
.sm.paginator > div > .range > .gap {
  flex: 0 100 0;
  min-width: 0.25em;
  padding: 0.02em 0 0.02em 0;
}
.sm.paginator > div > .range > .gap > svg {
  fill: #dcdcdc;
}
.sm.paginator > div > .range > .page {
  flex: 0 0 0;
  min-width: 1em;
  padding: 0.035em 1px 0.035em 1px;
}
.sm.paginator > div > .range > .page > button {
  color: transparent;
  font-size: var(--sm-font-size);
}
.sm.paginator > div > .range > .page.F {
  padding-left: 0;
}
.sm.paginator > div > .range > .page.L {
  padding-right: 0;
}
.sm.paginator > div > .range > .page.x {
  min-width: 1.15em;
  padding-top: 0;
  padding-bottom: 0;
}
.sm.paginator > div > .range > .page.x > button {
  font-size: calc(1.25 * var(--sm-font-size));
  border-color: #000;
  background-color: #000;
  color: rgba(255,255,255,0.4);
}
.sm.paginator > div > .range.nogap {
  max-width: calc(1em * var(--count));
}
.sm.paginator > div > .range.nogap > .page.x > button {
  cursor: default;
}
.sm.paginator.v > div {
  font-size: var(--w3-size);
}
.sm.paginator.v > div.flexy {
  width: 100%;
}
.sm.paginator.v > div.flexy > .range {
  width: 100%;
  max-width: 100%;
}
.sm.paginator.v > div.flexy > .range > .gap {
  padding: 0.025em 0 0.025em 0;
}
.sm.paginator.v > div.flexy > .range.nogap > .page {
  flex-grow: 1;
}
.sm.paginator.v > div.flexy > .range.active > .gap > svg {
  fill: #c0c0c0;
}
.sm.paginator.v > div.nosep > .goto.P {
  padding-right: 1px;
}
.sm.paginator.v > div.nosep > .goto.N {
  padding-left: 1px;
}
.sm.paginator.v > div.v > .goto > button > svg {
  fill: #708090;
}
.sm.paginator.v > div.v > .goto.active > button {
  background-color: #000;
}
.sm.paginator.v > div.v > .goto.active > button > svg {
  fill: #fff;
}
.sm.paginator.v > div.v > .range > .gap > svg {
  fill: #c0c0c0;
}
.sm.paginator.v > div.v > .range > .page > button {
  color: #2f4f4f;
}
.sm.paginator.v > div.v > .range > .page.x > button {
  color: #fff;
  cursor: grab;
}
.sm.paginator.v > div.v > .range > .page.x > button:hover {
  color: rgba(255,255,255,0.8);
}
.sm.paginator.v > div.v > .range > .page.x > button:focus,
.sm.paginator.v > div.v > .range > .page.x > button:active {
  color: #fff;
  box-shadow: inset 0 0 0.1em 0.1em #fff;
}
.sm.paginator.v > div.v > .range.nogap > .page.x > button {
  cursor: default;
}
.sm.paginator.v > div.v > .range.active.drag {
  cursor: grabbing;
}
.sm.paginator.v > div.v > .range.active.drag > .page.x > button {
  cursor: grabbing;
  box-shadow: inset 0 0 0.1em 0.15em #fff;
}
.sm.paginator.v > div.v.flexy > .range > .gap > svg {
  fill: #dcdcdc;
}
.sm.paginator.v > div.v.flexy > .range.active > .gap > svg {
  fill: #c0c0c0;
}
.sm.paginator.v > div.v.hovered > .sep > svg {
  fill: #708090;
}
.sm.rows-selector {
  width: auto;
  height: calc(8px + var(--w3-size));
  padding: 4px 0 4px 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.sm.rows-selector > div {
  font-size: var(--w3-size);
  flex: 0 0 0;
  min-width: 2.1em;
}
.sm.rows-selector > div > select {
  font-size: var(--sm-font-size);
  width: 100%;
  height: 100%;
  padding: 0 0 0 1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  background-color: #dcdcdc;
  color: transparent;
  box-shadow: inset 0 0 0.6em 0 #c0c0c0;
  border-style: solid;
  border-color: #c0c0c0;
  border-width: 0.025em;
  border-radius: 0.05em;
  outline: none;
  font-family: var(--sm-font-label);
  font-weight: bold;
  text-align: left;
  text-decoration: none;
  text-overflow: ellipsis;
  letter-spacing: 0;
  white-space: nowrap;
  cursor: pointer;
}
.sm.rows-selector > div > select:-ms-expand {
  display: none;
}
.sm.rows-selector > div > svg {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  pointer-events: none;
  fill: #c0c0c0;
}
.sm.rows-selector > div > svg > .b {
  fill: transparent;
}
.sm.rows-selector > div.v > select {
  color: #708090;
}
.sm.rows-selector > div.v > select > option {
  color: #2f4f4f;
  background-color: #dcdcdc;
  border: 1px solid #f00;
}
.sm.rows-selector > div.v > select > option:checked {
  color: rgba(106,90,205,0.6);
}
.sm.rows-selector > div.v > select > option:hover {
  background-color: #000;
  color: #fff;
}
.sm.rows-selector > div.v > svg > .a {
  fill: #c0c0c0;
}
.sm.rows-selector > div.v > svg > .b {
  fill: #708090;
}
.sm.rows-selector > div.v.hovered > select {
  color: #2f4f4f;
  border-color: #2f4f4f;
}
.sm.rows-selector > div.v.focused > select {
  color: #2f4f4f;
  background-color: #c0c0c0;
  border-color: #2f4f4f;
  box-shadow: inset 0 0 0 0.04em #fff;
}
.sm.rows-selector > div.v.focused > svg > .a {
  fill: #708090;
}
.sm.rows-selector > div.v.focused > svg > .b {
  fill: #dcdcdc;
}
.sm.rows-selector > div.v.active > select {
  color: #483d8b;
}
.sm.rows-selector > div.v.active > svg > .a {
  fill: rgba(106,90,205,0.6);
}
.sm .sm-product-price {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  font-family: var(--sm-font-label);
}
.sm .sm-product-price > div {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  line-height: 1;
}
.sm .sm-product-price > .currency {
  justify-content: flex-end;
  padding-right: 0.0417em;
  color: rgba(var(--sm-color-5),1);
}
.sm .sm-product-price > .currency > span {
  font-size: 0.604em;
}
.sm .sm-product-price > .pad {
  flex: 1 1 0;
}
.sm .sm-product-price > .value > div {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  overflow-wrap: anywhere;
}
.sm .sm-product-price > .value.a {
  justify-content: center;
  padding-bottom: 0.0417em;
}
.sm .sm-product-price > .value.a > .integer {
  font-size: 0.4583em;
  color: #2f4f4f;
}
.sm .sm-product-price > .value.a > .fraction {
  font-size: 0.4167em;
  color: #708090;
}
.sm .sm-product-price > .value.b {
  flex: 0 1 auto;
  padding-left: 1em;
  padding-bottom: 0.25em;
  text-decoration: line-through;
  text-decoration-color: #2f4f4f;
}
.sm .sm-product-price > .value.b > .integer {
  font-size: 1em;
  color: #708090;
}
.sm .sm-product-price > .value.b > .fraction {
  font-size: 0.8em;
  color: #708090;
  padding-bottom: 0.1em;
}
.sm .sm-product-price.equal > .value.b > div {
  display: none;
}
.sm.section.category-filter .item > .title > div > h3 {
  padding-left: 0;
}
.sm.section.category-filter .item.x2 > .title > div > h3 {
  padding-left: 0.1em;
  color: #2f4f4f;
}
.sm.section.category-filter .item.v.o0.e1.hhh > .title > h3.h {
  background-color: rgba(119,136,153,0.04);
}
.sm.section.category-filter .item.v.o0.e1.hhh > .title > button.sm-checkbox {
  background-color: rgba(119,136,153,0.04);
}
.sm.section.category-filter .item.v.o1.e1.hhh > .title > h3.h {
  color: rgba(47,79,79,0.8);
}
.sm.section.category-filter .item.v.o1.e1.hhh > .title > button.arrow.h > svg > .a {
  fill: #c0c0c0;
}
.sm.section.category-filter .item.v.o1.e1.hhh > .title > button.arrow.h > svg > .b {
  fill: #708090;
}
.sm.section.category-filter .item.v.checked > .title > h3 {
  color: #2f4f4f;
}
.sm.section.category-filter .item.v.checked.c1 > .title > button.checkbox > svg {
  background-color: #000;
}
.sm.section.category-filter .item.v.checked.c1 > .title > button.checkbox > svg > .c1 {
  fill: #fff;
}
.sm.section.category-filter .item.v.checked.c2 > .title > button.checkbox > svg {
  background-color: #000;
}
.sm.section.category-filter .item.v.checked.c2 > .title > button.checkbox > svg > .c2 {
  fill: #fff;
}
.sm.section.category-filter .item.v.hovered-2 > .title > button.checkbox {
  background-color: rgba(119,136,153,0.04);
}
.sm.section.category-filter .item.v.hovered-2 > .title > button.checkbox > svg {
  background-color: rgba(220,220,220,0.4);
  border-color: #6a5acd;
}
.sm.section.category-filter .item.v.hovered-2 > .title > h3 {
  color: #2f4f4f;
  background-color: rgba(119,136,153,0.04);
}
.sm.section.category-filter .item.v.hovered-2 > .title > button.arrow {
  background-color: transparent;
}
.sm.section.category-filter .item.v.hovered-2 > .title > button.arrow > svg {
  fill: #c0c0c0;
  stroke: #708090;
}
.sm.section.category-filter .item.v.focused-2 > .title > h3 {
  color: #483d8b;
  background-color: rgba(123,104,238,0.04);
}
.sm.section.category-filter .item.v.focused-2 > .title > button.checkbox {
  background-color: rgba(123,104,238,0.04);
}
.sm.section.category-filter .item.v.focused-2 > .title > button.checkbox > svg {
  box-shadow: inset 0 0 0 1px #7b68ee;
  border-color: #483d8b;
}
.sm.section.category-filter .item.v.focused-2.checked.c1 > .title > button.checkbox > svg {
  background-color: #483d8b;
}
.sm.section.category-filter .item.v.focused-2.checked.c2 > .title > button.checkbox > svg {
  background-color: #483d8b;
}
.sm.section.category-filter .item.v.o > .title > h3 {
  color: #2f4f4f;
}
.sm.section.category-filter .item.v.o > .title > button.arrow > svg {
  fill: #2f4f4f;
}
.sm.section.category-filter .item.v.o.hovered-2 > .title > h3 {
  color: rgba(47,79,79,0.8);
}
.sm.section.category-filter .item.v.o.hovered-2 > .title > button.arrow > svg {
  fill: #c0c0c0;
  stroke: #708090;
}
.sm.section.category-filter .item.v.o.focused-2 > .title > h3 {
  color: rgba(72,61,139,0.8);
}
.sm.section.price-filter > div > .section > div {
  width: 100%;
  height: var(--w3-size);
  font-size: var(--sm-font-size);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sm.section.price-filter > div > .section > div > div {
  position: relative;
  flex: 3 1 0;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  touch-action: none;
}
.sm.section.price-filter > div > .section > div > div > input {
  width: 100%;
  height: 100%;
  font-family: var(--sm-font-input);
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.6em 0 0.3em 0;
  background-color: #dcdcdc;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
  box-shadow: inset 0 0 10px 0 #c0c0c0;
  touch-action: none;
}
.sm.section.price-filter > div > .section > div > div > label {
  position: absolute;
  top: 0;
  width: 100%;
  font-family: var(--sm-font-label);
  font-size: 0.8em;
  font-weight: bold;
  padding: 0.2em 0 0 0;
  background-color: transparent;
  color: #708090;
  user-select: none;
  cursor: text;
}
.sm.section.price-filter > div > .section > div > div.L > input {
  border-right-width: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 0.6em;
  text-align: right;
}
.sm.section.price-filter > div > .section > div > div.L > label {
  padding-right: 0.4em;
  text-align: right;
}
.sm.section.price-filter > div > .section > div > div.R > input {
  border-left-width: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 0.6em;
  text-align: left;
}
.sm.section.price-filter > div > .section > div > div.R > label {
  padding-left: 0.4em;
  text-align: left;
}
.sm.section.price-filter > div > .section > div > svg {
  flex: 1 3 0;
  height: var(--w3-size);
  max-width: 48px;
  fill: #c0c0c0;
  touch-action: none;
}
.sm.section.price-filter > div > .section > div > svg > .L {
  fill: #a9a9a9;
}
.sm.section.price-filter > div > .section > div > svg > .X {
  fill: transparent;
}
.sm.section.price-filter > div > .section > div > svg > .R {
  fill: #a9a9a9;
}
.sm.section.price-filter > div.v > .section > div > svg > .X {
  fill: #d3d3d3;
}
.sm.section.price-filter > div.v > .section > div > div > input {
  color: #2f4f4f;
}
.sm.section.price-filter > div.v > .section > div > div > input::selection {
  background-color: #483d8b;
  color: #dcdcdc;
}
.sm.section.price-filter > div.v > .section > div > div.hovered > input {
  border-color: #808080;
  box-shadow: inset 0 0 0 2px #c0c0c0;
}
.sm.section.price-filter > div.v > .section > div > div.hovered:not(.focused) > input,
.sm.section.price-filter > div.v > .section > div > div.hovered:not(.focused) > label {
  cursor: ns-resize;
}
.sm.section.price-filter > div.v > .section > div > div.focused > input {
  color: #000;
  background-color: rgba(220,220,220,0.6);
  border-color: #808080;
  box-shadow: inset 0 0 0 2px #c0c0c0;
}
.sm.section.price-filter > div.v > .section > div > div.focused > label {
  cursor: pointer;
}
.sm.section.price-filter > div.v > .section > div > div.focused > label:hover {
  color: #6a5acd;
}
.sm.section.price-filter > div.v > .section > div > div.locked > input {
  color: #2f4f4f;
  background-color: #dcdcdc;
  border-color: #c0c0c0;
}
.sm.section.price-filter > div.v > .section > div > div.locked > input::selection {
  background-color: #2f4f4f;
  color: #dcdcdc;
}
.sm.section.price-filter > div.v.h > .section > div > svg > .X {
  fill: #708090;
}
.sm.section.price-filter > div.v.h0 > svg > .L {
  fill: #708090;
  transform: translateX(1px);
}
.sm.section.price-filter > div.v.h1 > svg > .R {
  fill: #708090;
  transform: translateX(-1px);
}
.sm.section.price-filter > div.v.f0 > svg > .X,
.sm.section.price-filter > div.v.f1 > svg > .X {
  fill: #708090;
}
.sm.section.price-filter > div.v.f0 > svg > .L {
  fill: #6a5acd;
  transform: translateX(1px);
}
.sm.section.price-filter > div.v.f1 > svg > .R {
  fill: #6a5acd;
  transform: translateX(-1px);
}
.sm.section.price-filter > div.v.active > svg {
  filter: brightness(110%);
}
.sm.section.price-filter > div.v.active > svg > .X {
  cursor: pointer;
  fill: #6a5acd;
}
.sm.section.price-filter > div.v.active > svg > .X:hover {
  fill: rgba(106,90,205,0.4);
}
.sm.minicart {
  width: auto;
  height: auto;
  padding: 4px 2px;
  overflow: visible;
}
.sm.minicart > div {
  width: auto;
  height: auto;
  position: relative;
  overflow: visible;
  padding-right: 0.125em;
}
.sm.minicart > div > a {
  width: 1em;
  height: 1em;
  padding: 0.125em;
  box-sizing: border-box;
  display: block;
}
.sm.minicart > div > a > svg {
  fill: rgba(var(--sm-color-5),1);
}
.sm.minicart > div > a > .count {
  position: absolute;
  top: 0;
  right: 0;
  width: 0.4em;
  height: 0.4em;
  display: none;
  background-color: #483d8b;
  border-radius: 100%;
}
.sm.minicart > div > a > .count > div {
  width: 100%;
  height: 100%;
  font-size: 0.25em;
  font-weight: bold;
  font-family: var(--sm-font-input);
  line-height: 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sm.minicart > div > a > .count.v {
  display: block;
}
.sm button.w3-button {
  font-size: var(--w3-size);
  width: 100%;
  height: 1.05em;
  background-color: rgba(var(--sm-color-3),1);
  box-shadow: inset 0 0 0.2em 0 rgba(var(--sm-color-2),1);
  border-style: solid;
  border-color: rgba(var(--sm-color-2),1);
  border-width: 0.025em;
  border-radius: 0.04em;
  touch-action: none;
  cursor: default;
}
.sm button.w3-button > .label {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  user-select: none;
  pointer-events: none;
  font-size: 0.334em;
  font-family: var(--sm-font-label);
  font-weight: bold;
  text-decoration: none;
  line-height: 100%;
  letter-spacing: 0;
  background-color: transparent;
  color: rgba(var(--sm-color-5),1);
}
.sm button.w3-button.v {
  cursor: pointer;
}
.sm button.w3-button.v.h {
  border-color: rgba(var(--sm-color-0),0.65);
}
.sm button.w3-button.v.h > .label {
  font-weight: bolder;
  color: rgba(var(--sm-color-4),1);
}
.sm button.w3-button.v.f {
  background-color: rgba(var(--sm-color-2),0.5);
  border-color: rgba(var(--sm-color-6),0.65);
  border-width: 0.05em;
  box-shadow: inset 0 0 0 1px rgba(var(--sm-color-1),1);
}
.sm button.w3-button.v.f > .label {
  font-weight: bolder;
  color: rgba(var(--sm-color-7),1);
}
.sm button.w3-button.v.f.h {
  background-color: rgba(var(--sm-color-6),0.125);
}
.sm button.w3-button.v.f.h > .label {
  color: rgba(var(--sm-color-6),1);
}
.sm button.w3-button.v.w,
.sm button.w3-button.v.w.h,
.sm button.w3-button.v.w.f {
  cursor: default;
  background-color: rgba(var(--sm-color-3),0.5);
  box-shadow: inset 0 0 0 0.02em rgba(var(--sm-color-1),1);
  border-color: rgba(var(--sm-color-0),1);
}
.sm button.w3-button.v.w > .label,
.sm button.w3-button.v.w.h > .label,
.sm button.w3-button.v.w.f > .label {
  color: rgba(var(--sm-color-2),1);
}
.sm button.w3-button.v.w.f {
  background-color: rgba(var(--sm-color-6),0.125);
}
.sm div.w3-select {
  font-size: var(--w3-size);
  width: auto;
  min-width: 2.1em;
  height: 1em;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  pointer-events: none;
}
.sm div.w3-select > select {
  flex: 1 1 0;
  font-size: var(--sm-font-size);
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 1em;
  padding-right: var(--w3-size);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  background-color: #dcdcdc;
  color: transparent;
  box-shadow: inset 0 0 0.6em 0 #c0c0c0;
  border-style: solid;
  border-color: #c0c0c0;
  border-width: 0.025em;
  border-radius: 0.05em;
  outline: none;
  font-family: var(--sm-font-label);
  font-weight: bold;
  text-align: left;
  text-decoration: none;
  text-overflow: ellipsis;
  letter-spacing: 0;
  white-space: nowrap;
}
.sm div.w3-select > select:-ms-expand {
  display: none;
}
.sm div.w3-select > svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 1em;
  height: 100%;
  pointer-events: none;
  fill: #c0c0c0;
}
.sm div.w3-select > svg > .b {
  fill: transparent;
}
.sm div.w3-select.a > select {
  color: #483d8b;
}
.sm div.w3-select.a > svg > .a {
  fill: rgba(106,90,205,0.6);
}
.sm div.w3-select.v {
  pointer-events: auto;
}
.sm div.w3-select.v > select {
  color: #708090;
  cursor: pointer;
}
.sm div.w3-select.v > select > option {
  color: #2f4f4f;
  background-color: #dcdcdc;
  border: 1px solid #f00;
}
.sm div.w3-select.v > select > option:checked {
  color: rgba(106,90,205,0.6);
}
.sm div.w3-select.v > select > option:hover {
  background-color: #000;
  color: #fff;
}
.sm div.w3-select.v > svg > .a {
  fill: #c0c0c0;
}
.sm div.w3-select.v > svg > .b {
  fill: #708090;
}
.sm div.w3-select.v.h > select {
  color: #2f4f4f;
  border-color: #2f4f4f;
}
.sm div.w3-select.v.f > select {
  color: #2f4f4f;
  background-color: #c0c0c0;
  border-color: #2f4f4f;
  box-shadow: inset 0 0 0 0.04em #fff;
}
.sm div.w3-select.v.f > svg > .a {
  fill: #708090;
}
.sm div.w3-select.v.f > svg > .b {
  fill: #dcdcdc;
}
.sm button.sm-checkbox {
  width: 100%;
  height: 100%;
  border-style: none;
  border-width: 0;
  background-color: transparent;
  color: transparent;
  pointer-events: none;
}
.sm button.sm-checkbox > svg {
  display: block;
  width: 100%;
  height: 100%;
}
.sm button.sm-checkbox > svg > .a {
  fill: transparent;
}
.sm button.sm-checkbox > svg > .b {
  fill-rule: evenodd;
  fill: #708090;
}
.sm button.sm-checkbox > svg > .c {
  fill-rule: evenodd;
  fill: #dcdcdc;
}
.sm button.sm-checkbox > svg > .d {
  fill: transparent;
}
.sm button.sm-checkbox > svg > .e {
  fill: transparent;
}
.sm button.sm-checkbox.x0 > svg > .d {
  fill: #2f4f4f;
}
.sm button.sm-checkbox.x0.i > svg > .e {
  fill: #2f4f4f;
}
.sm button.sm-checkbox.x0.i > svg > .d {
  fill: transparent;
}
.sm button.sm-checkbox.x2 > svg > .c {
  fill: transparent;
}
.sm button.sm-checkbox.x2 > svg > .d {
  fill: #2f4f4f;
}
.sm button.sm-checkbox.x2 > svg > .e {
  fill: #2f4f4f;
}
.sm button.sm-checkbox.v {
  pointer-events: auto;
}
.sm button.sm-checkbox.v.x0 {
  pointer-events: none;
}
.sm button.sm-checkbox.v.x0.i {
  pointer-events: auto;
}
.sm button.sm-checkbox.v.h.x1 > svg > .a {
  fill: rgba(112,128,144,0.3);
}
.sm button.sm-checkbox.v.h.x2 > svg > .d {
  fill: #708090;
}
.sm button.sm-checkbox.v.h.x2 > svg > .e {
  fill: #708090;
}
.sm button.sm-checkbox.v.f.x1 > svg > .a {
  fill: rgba(106,90,205,0.3);
}
.sm button.sm-checkbox.v.f.x1 > svg > .b {
  fill: #6a5acd;
}
.sm button.sm-checkbox.v.f.x1 > svg > .c {
  fill: #c0c0c0;
}
.sm button.sm-checkbox.v.f.x2 > svg > .d {
  fill: #6a5acd;
}
.sm button.sm-checkbox.v.f.x2 > svg > .e {
  fill: #6a5acd;
}
.sm .sm-buttons > button {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dcdcdc;
  color: #708090;
  box-shadow: inset 0 0 0.4em 0 #c0c0c0;
  border-style: solid;
  border-color: #c0c0c0;
  border-width: 0.05em;
  border-radius: 0.1em;
  font-family: var(--sm-font-label);
  font-size: var(--sm-font-size);
  text-decoration: none;
  letter-spacing: 0;
  touch-action: none;
}
.sm .sm-buttons > button > svg {
  fill: #708090;
}
.sm .sm-buttons > button:hover,
.sm .sm-buttons > button:focus,
.sm .sm-buttons > button:active {
  font-weight: bolder;
  border-color: #2f4f4f;
  color: #2f4f4f;
}
.sm .sm-buttons > button:hover > svg,
.sm .sm-buttons > button:focus > svg,
.sm .sm-buttons > button:active > svg {
  fill: #2f4f4f;
}
.sm .sm-buttons > button:focus,
.sm .sm-buttons > button:active {
  background-color: #c0c0c0;
  box-shadow: inset 0 0 0 0.01em #fff;
}
/***/
