/**
* demo
*/
#sm-demo {
  display: flex;
  padding: 0 8px 0 8px;
}
#sm-demo > .a {
  flex: 1 1 0;
  max-width: 320px;
  padding-right: 8px;
}
#sm-demo > .b {
  flex: 1 1 0;
}
#sm-demo > .b > h3 {
  margin: 0;
  padding: 1px 0 2px 4px;
  color: #2f4f4f;
  white-space: nowrap;
}
#sm-demo > .b > .c {
  display: flex;
}
#sm-demo > .b > .c > .orderer {
  flex: 1 1 0;
  max-width: 240px;
}
#sm-demo > .b > .c > .paginator {
  flex: 1 1 0;
  justify-content: flex-end;
}
/***/
