/**
* demo
*/
#sm-demo {
  display: flex;
  padding: 0 8px 0 8px;
}
#sm-demo > .a {
  flex: 1 1 0;
  max-width: 320px;
  padding-right: 8px;
}
#sm-demo > .b {
  flex: 1 1 0;
  font-size: calc(var(--sm-blocks-height) * var(--sm-blocks-factor));
}
#sm-demo > .b > .a {
  height: 1em;
  padding: 4px 0 4px 0;
}
#sm-demo > .b > .a > h3 {
  font-size: 0.8em;
  font-weight: bold;
  font-family: monospace;
  padding: 0;
  margin: 0;
  color: #2f4f4f;
}
#sm-demo > .b > .b > hr {
  height: 3px;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 1px;
  background-color: rgba(192,192,192,0.2);
}
#sm-demo > .b > .c {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 4px;
}
#sm-demo > .b > .c > .orderer {
  flex: 1 3 0;
  max-width: 220px;
}
#sm-demo > .b > .c > .paginator {
  flex: 3 1 0;
  justify-content: flex-end;
}
/***/
