/**
* storefront modern blocks
*/
:root {
  --sm-blocks-factor: 1;
  --sm-blocks-height: 48px;
}
.sm-blocks {
  --height: calc(var(--sm-blocks-height) * var(--sm-blocks-factor));
  --font-size: calc(0.35 * var(--height));
  position: relative;
  box-sizing: border-box;
  min-width: 0;
  min-height: 0;
  padding: 0;
  margin: 0;
  font-size: var(--font-size);
}
.sm-blocks div,
.sm-blocks button,
.sm-blocks select,
.sm-blocks input,
.sm-blocks label,
.sm-blocks svg,
.sm-blocks img,
.sm-blocks hr,
.sm-blocks h1,
.sm-blocks h2,
.sm-blocks h3 {
  box-sizing: border-box;
  min-width: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  background-color: transparent;
}
.sm-blocks button,
.sm-blocks input,
.sm-blocks optgroup,
.sm-blocks select,
.sm-blocks textarea,
.sm-blocks label,
.sm-blocks h3 {
  font-family: inherit;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.25;
  outline: 0;
  text-transform: none;
  text-decoration: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  overflow-wrap: anywhere;
}
.sm-blocks svg {
  width: 100%;
  height: 100%;
}
.sm-blocks button {
  cursor: pointer;
  color: transparent;
}
.sm-blocks button > svg {
  fill: transparent;
  stroke: transparent;
}
.sm-blocks .sm-buttons > button {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 0.05em;
  border-style: solid;
  border-color: #c0c0c0;
  border-radius: 0.1em;
  background-color: #dcdcdc;
  color: #708090;
  box-shadow: inset 0 0 0.4em 0 #c0c0c0;
  text-decoration: none;
  letter-spacing: 0;
  font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
  font-size: var(--font-size);
  touch-action: none;
}
.sm-blocks .sm-buttons > button > svg {
  fill: #708090;
}
.sm-blocks .sm-buttons > button:hover,
.sm-blocks .sm-buttons > button:focus,
.sm-blocks .sm-buttons > button:active {
  font-weight: bolder;
  border-color: #2f4f4f;
  color: #2f4f4f;
}
.sm-blocks .sm-buttons > button:hover > svg,
.sm-blocks .sm-buttons > button:focus > svg,
.sm-blocks .sm-buttons > button:active > svg {
  fill: #2f4f4f;
}
.sm-blocks .sm-buttons > button:focus,
.sm-blocks .sm-buttons > button:active {
  background-color: #c0c0c0;
  box-shadow: inset 0 0 0 0.01em #fff;
}
.sm-blocks > div {
  overflow: hidden;
  min-width: 0;
  min-height: 0;
  pointer-events: none;
  opacity: 0;
}
.sm-blocks > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.sm-blocks svg {
  fill: rgba(192,192,192,0.2);
}
.sm-blocks.v > div {
  opacity: 0.6;
}
.sm-blocks.v > div.v {
  pointer-events: auto;
  opacity: 1;
}
.sm-blocks.v > svg {
  display: none;
}
.sm-blocks.v.f > div.v {
  box-shadow: inset 0px 0px 4px 1px rgba(106,90,205,0.15);
  border-radius: 2px;
}
.sm-blocks.main-section {
  width: 100%;
  height: auto;
  padding: 0 0 4px 0;
}
.sm-blocks.main-section > div.item {
  font-size: var(--height);
}
.sm-blocks.main-section > div.item > .title {
  height: 1em;
  padding: 0.05em 0 0.05em 4px;
}
.sm-blocks.main-section > div.item > .title > h3 {
  order: 1;
  font-size: 0.7em;
}
.sm-blocks.main-section > div.item > .title > button.arrow {
  order: 2;
  min-width: 1.2em;
  padding: 0.1em 0.1em 0.1em 0.4em;
}
.sm-blocks.main-section > div.item > .section {
  padding: 0;
}
.sm-blocks.main-section > div.item > .sep {
  height: 3px;
  fill: #dcdcdc;
}
.sm-blocks.main-section .item {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.sm-blocks.main-section .item > .title {
  height: 0.8em;
  padding: 0.05em 0 0.05em 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.sm-blocks.main-section .item > .title > h3 {
  order: 1;
  flex: 1 1 0;
  font-size: 0.35em;
  border-radius: 4px;
  display: flex;
  align-items: center;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #708090;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
}
.sm-blocks.main-section .item > .title > h3 > label {
  cursor: pointer;
}
.sm-blocks.main-section .item > .title > button {
  background-color: transparent;
  display: none;
}
.sm-blocks.main-section .item > .title > button.v {
  display: block;
}
.sm-blocks.main-section .item > .title > button.arrow {
  order: 2;
  flex: 0 0 0;
  min-width: 1em;
  padding: 0.05em 0.05em 0.05em 0.35em;
  background-color: transparent;
  border-radius: 1%;
}
.sm-blocks.main-section .item > .title > button.arrow > svg {
  width: auto;
  height: 100%;
  fill: #c0c0c0;
  stroke: #708090;
}
.sm-blocks.main-section .item > .title > button.arrow > svg > .a {
  transform-origin: 50% 50%;
  transform: rotate(90deg);
}
.sm-blocks.main-section .item > .section {
  min-height: 0;
  height: 0;
  opacity: 0;
  display: none;
  overflow: hidden;
}
.sm-blocks.main-section .item.opened > .title > button.arrow > svg {
  fill: #708090;
  stroke: #c0c0c0;
}
.sm-blocks.main-section .item.opened > .title > button.arrow > svg > .a {
  transform: rotate(0deg);
}
.sm-blocks.main-section .item.opened > .section {
  display: block;
  height: auto;
  opacity: 1;
}
.sm-blocks.main-section .item.v.hovered > .title > h3.h {
  color: #2f4f4f;
}
.sm-blocks.main-section .item.v.hovered > .title > h3 {
  background-color: rgba(119,136,153,0.04);
}
.sm-blocks.main-section .item.v.hovered > .title > button.arrow.h {
  background-color: rgba(119,136,153,0.04);
}
.sm-blocks.main-section .item.v.hovered > .title > button.arrow.h > svg {
  fill: #2f4f4f;
  stroke: #dcdcdc;
}
.sm-blocks.main-section .item.v.focused > .title > h3.f {
  color: #483d8b;
}
.sm-blocks.main-section .item.v.focused > .title > h3 {
  background-color: rgba(123,104,238,0.04);
}
.sm-blocks.main-section .item.v.focused > .title > button.arrow.f {
  background-color: rgba(123,104,238,0.04);
}
.sm-blocks.main-section .item.v.focused > .title > button.arrow.f > svg {
  fill: #6a5acd;
  stroke: #c0c0c0;
}
.sm-blocks.main-section .item.v.opened > .title > h3 {
  color: #2f4f4f;
}
.sm-blocks.main-section .item.v.opened > .title > button.arrow > svg {
  fill: #2f4f4f;
}
.sm-blocks.main-section .item.v.opened.hovered > .title > h3.h {
  color: rgba(47,79,79,0.8);
}
.sm-blocks.main-section .item.v.opened.hovered > .title > button.arrow.h > svg {
  fill: #c0c0c0;
  stroke: #708090;
}
.sm-blocks.main-section .item.v.opened.focused > .title > h3.f {
  color: rgba(72,61,139,0.8);
}
.sm-blocks.main-section .item.v.opened.focused > .title > button.arrow.f > svg {
  fill: #6a5acd;
  stroke: #7b68ee;
}
.sm-blocks.main-section .item.v.active > .title > h3 {
  color: #6a5acd;
  filter: brightness(80%);
}
.sm-blocks.main-section .item.v.active > svg {
  fill: rgba(106,90,205,0.4);
}
.sm-blocks.products {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: auto;
  padding: 2px 0 2px 8px;
}
.sm-blocks.products > div {
  --columns: 1;
  --rows: 1;
  --column-gap: 8px;
  --row-gap: 16px;
  --item-width: 304px;
  --item-height: 404px;
  --item-x: calc(var(--item-width) * var(--sm-blocks-factor));
  --item-y: calc(var(--item-height) * var(--sm-blocks-factor));
  --gap-x: calc(var(--column-gap) * var(--sm-blocks-factor));
  --gap-y: calc(var(--row-gap) * var(--sm-blocks-factor));
  --grid-width: calc(var(--columns) * var(--item-x) + calc(var(--columns) - 1) * var(--gap-x));
  --grid-height: calc(var(--rows) * var(--item-y) + calc(var(--rows) - 1) * var(--gap-y));
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-column-gap: var(--gap-x);
  grid-row-gap: var(--gap-y);
  flex: 1 1 0;
  max-width: var(--grid-width);
  height: var(--grid-height);
}
.sm-blocks.products > div > div {
  justify-self: stretch;
  align-self: stretch;
  max-width: var(--item-x);
  height: var(--item-y);
  display: none;
}
.sm-blocks.products > div > div.v {
  display: block;
}
.sm-blocks.products > div > .product {
  --a-size: 60;
  --b-size: 27;
  --c-size: 12;
  padding: 2px;
  overflow: hidden;
}
.sm-blocks.products > div > .product > div {
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.sm-blocks.products > div > .product > div > .section {
  flex-shrink: 100;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-size: var(--font-size);
}
.sm-blocks.products > div > .product > div > .section > div {
  flex: 1 1 0;
}
.sm-blocks.products > div > .product > div > .section.a {
  flex-grow: var(--a-size);
}
.sm-blocks.products > div > .product > div > .section.a > .image {
  display: flex;
  align-items: center;
}
.sm-blocks.products > div > .product > div > .section.a > .image > img {
  flex: 1 1 0;
  display: none;
  width: auto;
  height: auto;
}
.sm-blocks.products > div > .product > div > .section.a > .image > svg {
  flex: 1 1 0;
  display: block;
  width: 100%;
  height: 100%;
}
.sm-blocks.products > div > .product > div > .section.a > .image.w {
  flex-direction: row;
}
.sm-blocks.products > div > .product > div > .section.a > .image.w > img {
  max-width: 100%;
}
.sm-blocks.products > div > .product > div > .section.a > .image.h {
  flex-direction: column;
}
.sm-blocks.products > div > .product > div > .section.a > .image.h > img {
  max-height: 100%;
}
.sm-blocks.products > div > .product > div > .section.a > .image.v > img {
  display: block;
}
.sm-blocks.products > div > .product > div > .section.a > .image.v > svg {
  display: none;
}
.sm-blocks.products > div > .product > div > .section.b {
  flex-grow: var(--b-size);
}
.sm-blocks.products > div > .product > div > .section.b > .title {
  order: 1;
  flex: 0 0 0;
  min-height: 3.45em;
  padding-bottom: 0.4em;
}
.sm-blocks.products > div > .product > div > .section.b > .title > div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  word-break: keep-all;
  owerflow-break: keep-all;
  overflow: hidden;
  color: #000;
}
.sm-blocks.products > div > .product > div > .section.b > .price {
  order: 0;
  max-height: 2.2em;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  padding-bottom: 0.4em;
}
.sm-blocks.products > div > .product > div > .section.b > .price > div {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  line-height: 1;
}
.sm-blocks.products > div > .product > div > .section.b > .price > .currency {
  justify-content: flex-end;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 1.8em;
  padding-right: 0.15em;
  color: #708090;
}
.sm-blocks.products > div > .product > div > .section.b > .price > .pad {
  flex: 1 1 0;
}
.sm-blocks.products > div > .product > div > .section.b > .price > .value > div {
  font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  overflow-wrap: anywhere;
}
.sm-blocks.products > div > .product > div > .section.b > .price > .value.a {
  justify-content: center;
  padding-bottom: 0.14em;
}
.sm-blocks.products > div > .product > div > .section.b > .price > .value.a > .integer {
  font-size: 1.4em;
  color: #2f4f4f;
}
.sm-blocks.products > div > .product > div > .section.b > .price > .value.a > .fraction {
  font-size: 1.2em;
  color: #708090;
  padding-bottom: 0.03em;
}
.sm-blocks.products > div > .product > div > .section.b > .price > .value.b {
  flex: 0 1 auto;
  padding-left: 1em;
  padding-bottom: 0.25em;
  text-decoration: line-through;
  text-decoration-color: #2f4f4f;
}
.sm-blocks.products > div > .product > div > .section.b > .price > .value.b > .integer {
  font-size: 1em;
  color: #708090;
}
.sm-blocks.products > div > .product > div > .section.b > .price > .value.b > .fraction {
  font-size: 0.8em;
  color: #708090;
  padding-bottom: 0.1em;
}
.sm-blocks.products > div > .product > div > .section.b > .price.equal > .value.b > div {
  display: none;
}
.sm-blocks.products > div > .product > div > .section.c {
  flex-grow: var(--c-size);
}
.sm-blocks.products > div > .product > div > .section.c > .actions {
  --height: calc(var(--item-y) * var(--c-size) / 100);
  font-size: calc(0.4 * var(--height));
  padding-left: var(--pad);
  padding-right: var(--pad);
  display: flex;
  flex-direction: row;
  gap: 2px;
}
.sm-blocks.products > div > .product > div > .section.c > .actions > button {
  flex: 1 1 0;
}
.sm-blocks.products > div > .product > div > .section.c > .actions > button.add-to-cart {
  max-width: calc(8px + var(--height));
  padding-top: 6px;
  padding-bottom: 6px;
}
.sm-blocks.products > div > .product > div > .section.c > .actions > button.add-to-cart > svg {
  width: auto;
  height: 100%;
}
.sm-blocks.products > div > .product > div.v > .section {
  border-style: solid;
  border-color: #dcdcdc;
  border-width: 1px;
}
.sm-blocks.products > div > .product > div.v > .section > div {
  display: none;
}
.sm-blocks.products > div > .product > svg {
  display: block;
  width: 100%;
  height: 100%;
}
.sm-blocks.products > div > .product.ready > div {
  display: flex;
}
.sm-blocks.products > div > .product.ready > svg {
  display: none;
}
.sm-blocks.paginator {
  width: 100%;
  height: calc(8px + var(--height));
  padding: 4px 0 4px 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}
.sm-blocks.paginator > div {
  font-size: var(--sm-blocks-height);
  flex: 0 0 auto;
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  touch-action: none;
}
.sm-blocks.paginator > div > div {
  flex: 1 0 0;
}
.sm-blocks.paginator > div > .goto {
  max-width: 1.05em;
}
.sm-blocks.paginator > div > .goto.PN > button {
  padding: 0.25em 0 0.25em 0;
}
.sm-blocks.paginator > div > .goto.PN > button > svg {
  width: auto;
  height: 100%;
}
.sm-blocks.paginator > div > .goto.PN.active > button {
  padding: 0;
}
.sm-blocks.paginator > div > .goto.both.P {
  padding-left: 0.05em;
}
.sm-blocks.paginator > div > .goto.both.N {
  padding-right: 0.05em;
}
.sm-blocks.paginator > div > .sep {
  max-width: 0.19em;
  padding: 0.02em 0 0.02em 0;
}
.sm-blocks.paginator > div > .sep > svg {
  fill: #c0c0c0;
}
.sm-blocks.paginator > div > .sep.L {
  padding-left: 0;
}
.sm-blocks.paginator > div > .sep.R {
  padding-right: 0;
}
.sm-blocks.paginator > div > .range {
  --count: 0;
  --page-size: 1.34em;
  font-size: var(--page-size);
  max-width: calc(1em + 1em * var(--count));
  display: flex;
  flex-direction: row;
  justify-content: center;
/*===*
			&.active.drag
				// current page is being dragged
				cursor: grabbing
			/*===*/
}
.sm-blocks.paginator > div > .range > div {
  display: none;
}
.sm-blocks.paginator > div > .range > div.v {
  display: block;
}
.sm-blocks.paginator > div > .range > .gap {
  flex: 0 100 0;
  min-width: 0.25em;
  padding: 0.02em 0 0.02em 0;
}
.sm-blocks.paginator > div > .range > .gap > svg {
  fill: #dcdcdc;
}
.sm-blocks.paginator > div > .range > .page {
  flex: 0 0 0;
  min-width: 1em;
  padding: 0.035em 1px 0.035em 1px;
}
.sm-blocks.paginator > div > .range > .page > button {
  color: #2f4f4f;
  font-size: var(--font-size);
}
.sm-blocks.paginator > div > .range > .page.F {
  padding-left: 0;
}
.sm-blocks.paginator > div > .range > .page.L {
  padding-right: 0;
}
.sm-blocks.paginator > div > .range > .page.x {
  min-width: 1.15em;
  padding-top: 0;
  padding-bottom: 0;
}
.sm-blocks.paginator > div > .range > .page.x > button {
  font-size: calc(1.25 * var(--font-size));
  border-color: #000;
  background-color: #000;
  color: #fff;
  cursor: grab;
}
.sm-blocks.paginator > div > .range > .page.x > button:hover {
  color: rgba(255,255,255,0.5);
}
.sm-blocks.paginator > div > .range > .page.x > button:focus,
.sm-blocks.paginator > div > .range > .page.x > button:active {
  color: #fff;
  box-shadow: inset 0 0 0.1em 0.1em #fff;
}
.sm-blocks.paginator > div > .range.nogap {
  max-width: calc(1em * var(--count));
  min-width: calc(1em + 1em * var(--count));
}
.sm-blocks.paginator > div > .range.nogap > .page.x > button {
  cursor: default;
}
.sm-blocks.paginator.v > div {
  font-size: var(--height);
}
.sm-blocks.paginator.v > div.flexy {
  width: 100%;
}
.sm-blocks.paginator.v > div.flexy > .range {
  width: 100%;
  max-width: 100%;
}
.sm-blocks.paginator.v > div.flexy > .range > .gap {
  padding: 0.025em 0 0.025em 0;
}
.sm-blocks.paginator.v > div.flexy > .range.nogap > .page {
  flex-grow: 1;
}
.sm-blocks.paginator.v > div.flexy > .range.active > .gap > svg {
  fill: #c0c0c0;
}
.sm-blocks.paginator.v > div.nosep > .goto.P {
  padding-right: 1px;
}
.sm-blocks.paginator.v > div.nosep > .goto.N {
  padding-left: 1px;
}
.sm-blocks.paginator.v > div.v > .goto > button > svg {
  fill: #708090;
}
.sm-blocks.paginator.v > div.v > .goto.active > button {
  background-color: #000;
}
.sm-blocks.paginator.v > div.v > .goto.active > button > svg {
  fill: #fff;
}
.sm-blocks.paginator.v > div.v > .range > .gap > svg {
  fill: #c0c0c0;
}
.sm-blocks.paginator.v > div.v.flexy > .range > .gap > svg {
  fill: #dcdcdc;
}
.sm-blocks.paginator.v > div.v.flexy > .range.active > .gap > svg {
  fill: #c0c0c0;
}
.sm-blocks.paginator.v > div.v.hovered > .sep > svg {
  fill: #708090;
}
.sm-blocks.main-section.category-filter .item > .title > button.checkbox {
  order: 0;
  flex: 0 0 0;
  min-width: 1em;
  padding: 0 0.2em 0 0;
}
.sm-blocks.main-section.category-filter .item > .title > button.checkbox > svg {
  background-color: rgba(220,220,220,0.2);
  border: 1px solid #708090;
  border-radius: 2px;
  fill: transparent;
  stroke: transparent;
}
.sm-blocks.main-section.category-filter .item > .section {
  padding: 0 0 0 0.2em;
}
.sm-blocks.main-section.category-filter .item.v.checked > .title > h3 {
  color: #2f4f4f;
}
.sm-blocks.main-section.category-filter .item.v.checked.c1 > .title > button.checkbox > svg {
  background-color: #000;
}
.sm-blocks.main-section.category-filter .item.v.checked.c1 > .title > button.checkbox > svg > .c1 {
  fill: #fff;
}
.sm-blocks.main-section.category-filter .item.v.checked.c2 > .title > button.checkbox > svg {
  background-color: #000;
}
.sm-blocks.main-section.category-filter .item.v.checked.c2 > .title > button.checkbox > svg > .c2 {
  fill: #fff;
}
.sm-blocks.main-section.category-filter .item.v.hovered-2 > .title > button.checkbox {
  background-color: rgba(119,136,153,0.04);
}
.sm-blocks.main-section.category-filter .item.v.hovered-2 > .title > button.checkbox > svg {
  background-color: rgba(220,220,220,0.4);
  border-color: #6a5acd;
}
.sm-blocks.main-section.category-filter .item.v.hovered-2 > .title > h3 {
  color: #2f4f4f;
  background-color: rgba(119,136,153,0.04);
}
.sm-blocks.main-section.category-filter .item.v.hovered-2 > .title > button.arrow {
  background-color: transparent;
}
.sm-blocks.main-section.category-filter .item.v.hovered-2 > .title > button.arrow > svg {
  fill: #c0c0c0;
  stroke: #708090;
}
.sm-blocks.main-section.category-filter .item.v.focused-2 > .title > h3 {
  color: #483d8b;
  background-color: rgba(123,104,238,0.04);
}
.sm-blocks.main-section.category-filter .item.v.focused-2 > .title > button.checkbox {
  background-color: rgba(123,104,238,0.04);
}
.sm-blocks.main-section.category-filter .item.v.focused-2 > .title > button.checkbox > svg {
  box-shadow: inset 0 0 0 1px #7b68ee;
  border-color: #483d8b;
}
.sm-blocks.main-section.category-filter .item.v.focused-2.checked.c1 > .title > button.checkbox > svg {
  background-color: #483d8b;
}
.sm-blocks.main-section.category-filter .item.v.focused-2.checked.c2 > .title > button.checkbox > svg {
  background-color: #483d8b;
}
.sm-blocks.main-section.category-filter .item.v.opened > .title > h3 {
  color: #2f4f4f;
}
.sm-blocks.main-section.category-filter .item.v.opened > .title > button.arrow > svg {
  fill: #2f4f4f;
}
.sm-blocks.main-section.category-filter .item.v.opened.hovered-2 > .title > h3 {
  color: rgba(47,79,79,0.8);
}
.sm-blocks.main-section.category-filter .item.v.opened.hovered-2 > .title > button.arrow > svg {
  fill: #c0c0c0;
  stroke: #708090;
}
.sm-blocks.main-section.category-filter .item.v.opened.focused-2 > .title > h3 {
  color: rgba(72,61,139,0.8);
}
.sm-blocks.main-section.category-filter > div.item > .section {
  padding: 2px 0 2px 4px;
}
.sm-blocks.price-filter {
  width: 100%;
  height: calc(8px + var(--height));
  padding: 4px 0 4px 0;
}
.sm-blocks.price-filter > div {
  width: 100%;
  height: 100%;
  padding: 0 4px 0 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sm-blocks.price-filter > div.text > div {
  position: relative;
  flex: 3 1 0;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  touch-action: none;
}
.sm-blocks.price-filter > div.text > div > input {
  width: 100%;
  height: 100%;
  font-family: Consolas, Courier, monospace;
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.6em 0 0.3em 0;
  background-color: #dcdcdc;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
  box-shadow: inset 0 0 10px 0 #c0c0c0;
  touch-action: none;
}
.sm-blocks.price-filter > div.text > div > label {
  position: absolute;
  top: 0;
  width: 100%;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 0.8em;
  font-weight: bold;
  padding: 0.2em 0 0 0;
  background-color: transparent;
  color: #708090;
  user-select: none;
  cursor: text;
}
.sm-blocks.price-filter > div.text > div.L > input {
  border-right-width: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 0.6em;
  text-align: right;
}
.sm-blocks.price-filter > div.text > div.L > label {
  padding-right: 0.4em;
  text-align: right;
}
.sm-blocks.price-filter > div.text > div.R > input {
  border-left-width: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 0.6em;
  text-align: left;
}
.sm-blocks.price-filter > div.text > div.R > label {
  padding-left: 0.4em;
  text-align: left;
}
.sm-blocks.price-filter > div.text > svg {
  flex: 1 3 0;
  height: var(--height);
  max-width: 48px;
  fill: #c0c0c0;
  touch-action: none;
}
.sm-blocks.price-filter > div.text > svg > .L {
  fill: #a9a9a9;
}
.sm-blocks.price-filter > div.text > svg > .X {
  fill: transparent;
}
.sm-blocks.price-filter > div.text > svg > .R {
  fill: #a9a9a9;
}
.sm-blocks.price-filter > div.text.v > svg > .X {
  cursor: pointer;
  fill: #d3d3d3;
}
.sm-blocks.price-filter > div.text.v > div > input {
  color: #2f4f4f;
}
.sm-blocks.price-filter > div.text.v > div > input::selection {
  background-color: #483d8b;
  color: #dcdcdc;
}
.sm-blocks.price-filter > div.text.v > div.hovered > input {
  border-color: #808080;
  box-shadow: inset 0 0 0 2px #c0c0c0;
}
.sm-blocks.price-filter > div.text.v > div.hovered:not(.focused) > input,
.sm-blocks.price-filter > div.text.v > div.hovered:not(.focused) > label {
  cursor: ns-resize;
}
.sm-blocks.price-filter > div.text.v > div.focused > input {
  color: #000;
  background-color: rgba(220,220,220,0.6);
  border-color: #808080;
  box-shadow: inset 0 0 0 2px #c0c0c0;
}
.sm-blocks.price-filter > div.text.v > div.focused > label {
  cursor: pointer;
}
.sm-blocks.price-filter > div.text.v > div.focused > label:hover {
  color: #6a5acd;
}
.sm-blocks.price-filter > div.text.v > div.locked > input {
  color: #2f4f4f;
  background-color: #dcdcdc;
  border-color: #c0c0c0;
}
.sm-blocks.price-filter > div.text.v > div.locked > input::selection {
  background-color: #2f4f4f;
  color: #dcdcdc;
}
.sm-blocks.price-filter > div.text.v.hovered > svg > .X {
  fill: #708090;
}
.sm-blocks.price-filter > div.text.v.h0 > svg > .L {
  fill: #708090;
  transform: translateX(1px);
}
.sm-blocks.price-filter > div.text.v.h1 > svg > .R {
  fill: #708090;
  transform: translateX(-1px);
}
.sm-blocks.price-filter > div.text.v.f0 > svg > .X,
.sm-blocks.price-filter > div.text.v.f1 > svg > .X {
  fill: #708090;
}
.sm-blocks.price-filter > div.text.v.f0 > svg > .L {
  fill: #6a5acd;
  transform: translateX(1px);
}
.sm-blocks.price-filter > div.text.v.f1 > svg > .R {
  fill: #6a5acd;
  transform: translateX(-1px);
}
.sm-blocks.price-filter > div.text.v.active > svg {
  filter: brightness(110%);
}
.sm-blocks.price-filter > div.text.v.active > svg > .X {
  fill: #6a5acd;
}
.sm-blocks.orderer {
  width: 100%;
  height: calc(8px + var(--height));
  padding: 4px 0 4px 0;
}
.sm-blocks.orderer > div {
  width: 100%;
  height: 100%;
}
.sm-blocks.orderer > div > .variant {
  position: absolute;
  width: auto;
  height: 100%;
  opacity: 0;
}
.sm-blocks.orderer > div > .variant.left {
  top: 0;
  left: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 1px;
  padding-right: 0;
}
.sm-blocks.orderer > div > .variant.right {
  top: 0;
  right: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 0;
  padding-right: 1px;
}
.sm-blocks.orderer > div > .variant.a {
  pointer-events: none;
}
.sm-blocks.orderer > div > .variant.a.left > button > svg {
  transform: rotate(-90deg);
}
.sm-blocks.orderer > div > .variant.a.right > button > svg {
  transform: rotate(90deg);
}
.sm-blocks.orderer > div > .variant.b > button > svg {
  transform: rotate(0deg);
}
.sm-blocks.orderer > div > .variant.c.left > button > svg {
  transform: rotate(-180deg);
}
.sm-blocks.orderer > div > .variant.c.right > button > svg {
  transform: rotate(180deg);
}
.sm-blocks.orderer > div > .variant > button {
  width: var(--height);
  height: 100%;
  background-color: transparent;
  padding-left: 4px;
  padding-right: 4px;
}
.sm-blocks.orderer > div > .variant > button > svg {
  display: block;
  width: 100%;
  height: 100%;
  stroke-width: 1;
  fill: #708090;
  stroke: #2f4f4f;
}
.sm-blocks.orderer > div > .variant > button:hover > svg,
.sm-blocks.orderer > div > .variant > button:active > svg,
.sm-blocks.orderer > div > .variant > button:focus > svg {
  fill: #000;
  stroke: #708090;
}
.sm-blocks.orderer > div > select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  height: 100%;
  font-weight: bold;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
  background-color: #dcdcdc;
  color: transparent;
  box-shadow: inset 0 0 10px 0 #c0c0c0;
  outline: none;
  cursor: pointer;
/***
			&:disabled
				color: graytext
				background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
					linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%)
				&:hover
					border-color: #aaa
			/***/
}
.sm-blocks.orderer > div > select.left {
  padding-left: calc(2px + var(--height));
  padding-right: var(--font-size);
}
.sm-blocks.orderer > div > select.right {
  padding-left: var(--font-size);
  padding-right: calc(2px + var(--height));
}
.sm-blocks.orderer > div > select.left.right {
  padding-left: calc(2px + var(--height));
  text-align: center;
}
.sm-blocks.orderer > div > select > option {
  font-weight: bold;
  background-color: #dcdcdc;
}
.sm-blocks.orderer > div > select > option:checked {
  color: #c0c0c0;
}
.sm-blocks.orderer > div > select > option:hover {
  background-color: #000;
  color: #fff;
}
.sm-blocks.orderer > div > select:hover {
  color: #000;
}
.sm-blocks.orderer > div > select:focus {
  color: #000;
  background-color: #c0c0c0;
  border-color: #2f4f4f;
  box-shadow: inset 0 0 0 1px #fff;
}
.sm-blocks.orderer > div > select:-ms-expand {
  display: none;
}
.sm-blocks.orderer > div.v > .variant {
  opacity: 1;
}
.sm-blocks.orderer > div.v > select {
  color: #2f4f4f;
}
.sm-blocks.orderer > div.v.hovered > select {
  border-color: #2f4f4f;
}
