/**
* storefront modern blocks
*/
:root {
  --sm-blocks-size-factor: 1;
}
.sm-blocks {
  --height: calc(48px * var(--sm-blocks-size-factor));
  --font-size: calc(0.35 * var(--height));
  position: relative;
  box-sizing: border-box;
  min-width: 0;
  min-height: 0;
  padding: 0;
  margin: 0;
  font-size: var(--font-size);
}
.sm-blocks div,
.sm-blocks button,
.sm-blocks select,
.sm-blocks input,
.sm-blocks label,
.sm-blocks svg,
.sm-blocks img,
.sm-blocks hr,
.sm-blocks h1,
.sm-blocks h2,
.sm-blocks h3 {
  box-sizing: border-box;
  min-width: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  background-color: transparent;
}
.sm-blocks button,
.sm-blocks input,
.sm-blocks optgroup,
.sm-blocks select,
.sm-blocks textarea,
.sm-blocks label,
.sm-blocks h3 {
  font-family: inherit;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  outline: 0;
  text-transform: none;
  text-decoration: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  overflow-wrap: anywhere;
}
.sm-blocks svg {
  width: 100%;
  height: 100%;
}
.sm-blocks button {
  cursor: pointer;
  color: transparent;
}
.sm-blocks button > svg {
  fill: transparent;
  stroke: transparent;
}
.sm-blocks > div {
  overflow: hidden;
  min-width: 0;
  min-height: 0;
  pointer-events: none;
  opacity: 0;
}
.sm-blocks > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill: rgba(192,192,192,0.2);
}
.sm-blocks.v > div {
  opacity: 0.6;
}
.sm-blocks.v > div.v {
  pointer-events: auto;
  opacity: 1;
}
.sm-blocks.v > svg {
  display: none;
}
.sm-blocks.v.f > div.v {
  box-shadow: inset 0px 0px 8px 1px rgba(106,90,205,0.25);
  border-radius: 2px;
}
.sm-blocks.main-section {
  width: 100%;
  height: auto;
  padding: 0 0 4px 0;
}
.sm-blocks.main-section .item > .title {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 2em;
  padding: 0.1em 0 0.1em 0;
}
.sm-blocks.main-section .item > .title > h3 {
  flex: 1 1 0;
  order: 1;
  font-family: Verdana, Arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
  display: flex;
  align-items: center;
  color: #708090;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
}
.sm-blocks.main-section .item > .title > h3 > label {
  cursor: pointer;
}
.sm-blocks.main-section .item > .title > button {
  background-color: transparent;
  display: none;
}
.sm-blocks.main-section .item > .title > button.v {
  display: block;
}
.sm-blocks.main-section .item > .title > button.arrow {
  flex: 0 0 0;
  order: 2;
  min-width: 2.8em;
  padding: 0.1em 0.1em 0.1em 1.1em;
  height: 100%;
  background-color: transparent;
  border-radius: 4px;
}
.sm-blocks.main-section .item > .title > button.arrow > svg {
  fill: #c0c0c0;
  stroke: #708090;
}
.sm-blocks.main-section .item > .title > button.arrow > svg > .a {
  transform-origin: 50% 50%;
  transform: rotate(90deg);
}
.sm-blocks.main-section .item > .section {
  width: 100%;
  min-height: 0;
  overflow: hidden;
  display: none;
  height: 0;
  opacity: 0;
}
.sm-blocks.main-section .item.opened > .title > button.arrow > svg {
  fill: #708090;
  stroke: #c0c0c0;
}
.sm-blocks.main-section .item.opened > .title > button.arrow > svg > .a {
  transform: rotate(0deg);
}
.sm-blocks.main-section .item.opened > .section {
  display: block;
  height: auto;
  opacity: 1;
}
.sm-blocks.main-section .item.v.hovered > .title > h3.h {
  color: #2f4f4f;
}
.sm-blocks.main-section .item.v.hovered > .title > h3 {
  background-color: rgba(119,136,153,0.04);
}
.sm-blocks.main-section .item.v.hovered > .title > button.arrow.h {
  background-color: rgba(119,136,153,0.04);
}
.sm-blocks.main-section .item.v.hovered > .title > button.arrow.h > svg {
  fill: #2f4f4f;
  stroke: #dcdcdc;
}
.sm-blocks.main-section .item.v.focused > .title > h3.f {
  color: #483d8b;
}
.sm-blocks.main-section .item.v.focused > .title > h3 {
  background-color: rgba(123,104,238,0.04);
}
.sm-blocks.main-section .item.v.focused > .title > button.arrow.f {
  background-color: rgba(123,104,238,0.04);
}
.sm-blocks.main-section .item.v.focused > .title > button.arrow.f > svg {
  fill: #6a5acd;
  stroke: #c0c0c0;
}
.sm-blocks.main-section .item.v.opened > .title > h3 {
  color: #2f4f4f;
}
.sm-blocks.main-section .item.v.opened > .title > button.arrow > svg {
  fill: #2f4f4f;
}
.sm-blocks.main-section .item.v.opened.hovered > .title > h3.h {
  color: rgba(47,79,79,0.8);
}
.sm-blocks.main-section .item.v.opened.hovered > .title > button.arrow.h > svg {
  fill: #c0c0c0;
  stroke: #708090;
}
.sm-blocks.main-section .item.v.opened.focused > .title > h3.f {
  color: rgba(72,61,139,0.8);
}
.sm-blocks.main-section .item.v.opened.focused > .title > button.arrow.f > svg {
  fill: #6a5acd;
  stroke: #7b68ee;
}
.sm-blocks.main-section .item.v.active > .title > h3 {
  color: #6a5acd;
  filter: brightness(80%);
}
.sm-blocks.main-section .item.v.active > svg {
  fill: rgba(106,90,205,0.4);
}
.sm-blocks.main-section > div.item {
  display: flex;
  flex-direction: column;
  padding: 0 6px 0 6px;
}
.sm-blocks.main-section > div.item > .title {
  height: 3em;
  padding: 4px 0 4px 0;
}
.sm-blocks.main-section > div.item > .title > h3 {
  font-size: 2em;
  font-weight: bold;
}
.sm-blocks.main-section > div.item > .title > button.arrow {
  height: 100%;
  min-width: calc(3em - 8px);
  padding: 4px;
}
.sm-blocks.main-section > div.item > .section {
  padding: 0;
}
.sm-blocks.main-section > div.item > svg {
  height: 3px;
  fill: #dcdcdc;
}
.sm-blocks.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 1em 0 1em 0;
}
.sm-blocks.products > div {
  --columns: 4;
  --column-gap: 4px;
  --row-gap: 4px;
  --item-max-x: 304px;
  --item-max-y: 640px;
  --item-sz-1: 35;
  --item-sz-2: 40;
  --item-sz-3: 25;
  --font-size: 20px;
  --font-size-header: calc(var(--font-size) + 4px);
  --rows: 1;
  --height: calc(var(--rows) * var(--item-max-y));
  --svg-icon-size: calc(10px + var(--font-size));
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-column-gap: var(--column-gap);
  grid-row-gap: var(--row-gap);
  justify-content: center;
  width: 100%;
  height: var(--height);
  max-width: calc(var(--columns) * var(--item-max-x));
  max-height: calc(var(--rows) * var(--item-max-y));
}
.sm-blocks.products > div > .item {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.sm-blocks.products > div > .item > .box {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  max-width: var(--item-max-x);
  max-height: var(--item-max-y);
  background-color: #dcdcdc;
}
.sm-blocks.products > div > .item > .box .ph {
  position: relative;
}
.sm-blocks.products > div > .item > .box .ph > * {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.sm-blocks.products > div > .item > .box .ph > div {
  display: none;
}
.sm-blocks.products > div > .item > .box .ph.loaded > div {
  display: flex;
}
.sm-blocks.products > div > .item > .box .ph.loaded > svg {
  display: none;
}
.sm-blocks.products > div > .item > .box > div {
  flex-shrink: 100;
  display: flex;
  flex-direction: column;
}
.sm-blocks.products > div > .item > .box > div > div {
  flex-grow: 100;
  flex-shrink: 100;
  display: flex;
}
.sm-blocks.products > div > .item > .box > .head {
  flex-grow: var(--item-sz-1);
}
.sm-blocks.products > div > .item > .box > .head > div {
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}
.sm-blocks.products > div > .item > .box > .head > div > img {
  max-width: 100%;
  max-height: 100%;
}
.sm-blocks.products > div > .item > .box > .body {
  flex-grow: var(--item-sz-2);
}
.sm-blocks.products > div > .item > .box > .body > .icon {
  max-height: calc(2 * var(--font-size-header));
  display: flex;
}
.sm-blocks.products > div > .item > .box > .body > .icon > .a {
  flex: 1 1 30%;
}
.sm-blocks.products > div > .item > .box > .body > .icon > .b {
  flex: 1 1 70%;
}
.sm-blocks.products > div > .item > .box > .body > .title {
  max-height: calc(3 * var(--font-size-header));
}
.sm-blocks.products > div > .item > .box > .body > .title > div,
.sm-blocks.products > div > .item > .box > .body > .title > div > button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: var(--font-size-header);
  line-height: 1;
  text-align: center;
  word-break: keep-all;
  overflow: hidden;
}
.sm-blocks.products > div > .item > .box > .foot {
  flex-grow: var(--item-sz-3);
}
.sm-blocks.products > div > .item > .box > .foot > .price {
  max-height: calc(3 * var(--font-size));
  font-size: var(--font-size-header);
}
.sm-blocks.products > div > .item > .box > .foot > .price > div {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sm-blocks.products > div > .item > .box > .foot > .price > div > .old {
  display: none;
  line-height: 0.65em;
  opacity: 0.7;
}
.sm-blocks.products > div > .item > .box > .foot > .price > div > .old > span {
  text-decoration: line-through;
  font-size: 0.65em;
}
.sm-blocks.products > div > .item > .box > .foot > .price > div > .current {
  display: flex;
  line-height: 0.9em;
}
.sm-blocks.products > div > .item > .box > .foot > .price > div > .current > .currency {
  font-size: 1em;
  padding-right: 0.2em;
}
.sm-blocks.products > div > .item > .box > .foot > .price > div > .current > .value {
  font-size: 1em;
  font-weight: bold;
}
.sm-blocks.products > div > .item > .box > .foot > .price > div > .current > .mantissa {
  font-size: 0.7em;
  padding-top: 0.1em;
  display: flex;
}
.sm-blocks.products > div > .item > .box > .foot > .price > div.none {
  display: none;
}
.sm-blocks.products > div > .item > .box > .foot > .price > div.lower > .old {
  display: block;
}
.sm-blocks.products > div > .item > .box > .foot > .price > div.right > .current > .currency {
  order: 2;
  padding-left: 0.2em;
  padding-right: 0;
}
.sm-blocks.products > div > .item > .box > .foot > .controls {
  max-height: calc(3 * var(--font-size));
}
.sm-blocks.products > div > .item > .box > .foot > .controls > div {
  padding-left: 4px;
  padding-right: 4px;
}
.sm-blocks.products > div > .item > .box > .foot > .controls > div a,
.sm-blocks.products > div > .item > .box > .foot > .controls > div button {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: var(--font-size);
  font-weight: bold;
  border-width: 0;
  border-style: solid;
  border-color: #708090;
  border-radius: 2px;
  background-color: #dcdcdc;
  color: #000;
  outline: 0;
  cursor: pointer;
}
.sm-blocks.products > div > .item > .box > .foot > .controls > div a:focus,
.sm-blocks.products > div > .item > .box > .foot > .controls > div button:focus {
  border-width: 1px;
  background-color: #c0c0c0;
}
.sm-blocks.products > div > .item > .box > .foot > .controls > div a:hover,
.sm-blocks.products > div > .item > .box > .foot > .controls > div button:hover {
  background-color: #c0c0c0;
}
.sm-blocks.products > div > .item > .box > .foot > .controls > div .cart {
  max-width: calc(30px + var(--svg-icon-size));
}
.sm-blocks.products > div > .item > .box > .foot > .controls > div .cart > svg {
  width: var(--svg-icon-size);
  height: auto;
  fill: #000;
}
.sm-blocks.products > div > .item > .box > .foot > .controls > div .cart.none {
  display: none;
}
.sm-blocks.products > div > .item.empty > .box {
  border-style: solid;
  border-color: #dcdcdc;
  border-width: 1px;
}
.sm-blocks.products > div > .item.empty > .box > div {
  display: none;
}
.sm-blocks.products > div.x > .item > .box {
  flex-direction: row;
  max-width: 100%;
  max-height: var(--item-max-x);
}
.sm-blocks.products > div.x > .item > .box .ph {
  max-height: 100%;
}
.sm-blocks.products > div.x > .item > .box > .image {
  max-width: var(--item-max-x);
  max-height: 100%;
}
.sm-blocks.products > div.x > .item > .box > .controls {
  max-width: calc(1.5 * var(--item-C));
  max-height: 100%;
}
.sm-blocks.products > div.v > .item > .box {
  background-color: transparent;
}
.sm-blocks.paginator {
  --width: calc(1.35 * var(--height));
  width: 100%;
  height: calc(8px + var(--height));
  padding: 4px 0 4px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
/**/
}
.sm-blocks.paginator > div {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  flex-direction: row;
  touch-action: none;
/*===*/
/*===*/
}
.sm-blocks.paginator > div > .goto {
  flex: 1 1 0;
  max-width: calc(2px + var(--width));
}
.sm-blocks.paginator > div > .goto > button {
  width: 100%;
  height: 100%;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
  background-color: #dcdcdc;
  box-shadow: inset 0 0 10px 0 #c0c0c0;
  touch-action: none;
}
.sm-blocks.paginator > div > .goto > button:hover {
  border-color: #2f4f4f;
}
.sm-blocks.paginator > div > .goto > button:active,
.sm-blocks.paginator > div > .goto > button:focus {
  background-color: #c0c0c0;
  border-color: #2f4f4f;
  box-shadow: inset 0 0 0 1px #fff;
}
.sm-blocks.paginator > div > .goto.P {
  padding-left: 2px;
}
.sm-blocks.paginator > div > .goto.N {
  padding-right: 2px;
}
.sm-blocks.paginator > div > .goto.FN.active,
.sm-blocks.paginator > div > .goto.PN.active {
  padding-top: 2px;
  padding-bottom: 2px;
}
.sm-blocks.paginator > div > .goto.FN.active > button,
.sm-blocks.paginator > div > .goto.PN.active > button {
  background-color: #000;
  padding: 4px;
}
.sm-blocks.paginator > div > .goto.FN.active > button > svg,
.sm-blocks.paginator > div > .goto.PN.active > button > svg {
  fill: #fff;
}
.sm-blocks.paginator > div > .sep {
  flex: 1 0 0;
  max-width: 8px;
  padding: 2px 0 2px 0;
}
.sm-blocks.paginator > div > .sep > svg {
  fill: #c0c0c0;
}
.sm-blocks.paginator > div > .sep.L {
  padding-left: 0;
}
.sm-blocks.paginator > div > .sep.R {
  padding-right: 0;
}
.sm-blocks.paginator > div > .range {
  --count: 0;
  --max-width: calc(2px + (1 + var(--count)) * var(--width));
  --page-size: var(--width);
  flex: 1 0 0;
  width: 10000px;
  max-width: var(--max-width);
  display: flex;
  flex-direction: row;
  justify-content: center;
/*===*
			&.nogap
				// range without gaps
				// reduced size
				--max-width: calc(2px + var(--count) * var(--width))
				// dragging is not possible
				> .page.x > button
					cursor: default
			&.active.drag
				// current page is being dragged
				cursor: grabbing
			/*===*/
}
.sm-blocks.paginator > div > .range > div {
  display: none;
}
.sm-blocks.paginator > div > .range > div.v {
  display: block;
}
.sm-blocks.paginator > div > .range > .gap {
  flex: 0 100 0;
  min-width: calc(0.25 * var(--width));
  padding: 2px 0 2px 0;
}
.sm-blocks.paginator > div > .range > .gap > svg {
  fill: #c0c0c0;
}
.sm-blocks.paginator > div > .range > .page {
  flex: 0 0 0;
  min-width: var(--page-size);
  padding: 2px 1px 2px 1px;
}
.sm-blocks.paginator > div > .range > .page.F {
  padding-left: 0;
}
.sm-blocks.paginator > div > .range > .page.L {
  padding-right: 0;
}
.sm-blocks.paginator > div > .range > .page > button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #c0c0c0;
  border-radius: 2px;
  background-color: #dcdcdc;
  box-shadow: inset 0 0 10px 0 #c0c0c0;
  text-decoration: none;
  touch-action: none;
}
.sm-blocks.paginator > div > .range > .page > button:hover {
  font-weight: bolder;
  border-color: #2f4f4f;
  color: #708090;
}
.sm-blocks.paginator > div > .range > .page > button:active,
.sm-blocks.paginator > div > .range > .page > button:focus {
  font-weight: bolder;
  background-color: #c0c0c0;
  border-color: #2f4f4f;
  color: #708090;
  box-shadow: inset 0 0 0 1px #fff;
}
.sm-blocks.paginator > div > .range > .page.x {
  min-width: calc(2px + var(--page-size));
  padding-top: 2px;
  padding-bottom: 2px;
}
.sm-blocks.paginator > div > .range > .page.x > button {
  font-size: 1.4em;
  border-color: #000;
  background-color: #000;
  cursor: grab;
}
.sm-blocks.paginator > div > .range > .page.x > button:hover {
  color: #789;
}
.sm-blocks.paginator > div > .range > .page.x > button:active,
.sm-blocks.paginator > div > .range > .page.x > button:focus {
  box-shadow: inset 0 0 1px 1px #fff;
}
.sm-blocks.paginator.v > div.flexy {
  width: 100%;
}
.sm-blocks.paginator.v > div.flexy > .range {
  width: 100%;
  max-width: 100%;
}
.sm-blocks.paginator.v > div.flexy > .range > .gap {
  padding: 2px 1px 2px 1px;
}
.sm-blocks.paginator.v > div.flexy > .range.active > .gap > svg {
  fill: #c0c0c0;
}
.sm-blocks.paginator.v > div.flexy > .range.nogap > .page {
  flex-grow: 1;
}
.sm-blocks.paginator.v > div.nosep > .goto.P {
  padding-right: 1px;
}
.sm-blocks.paginator.v > div.nosep > .goto.N {
  padding-left: 1px;
}
.sm-blocks.paginator.v > div.v > .goto > button > svg {
  fill: #708090;
}
.sm-blocks.paginator.v > div.v > .range > .gap > svg {
  fill: #c0c0c0;
}
.sm-blocks.paginator.v > div.v > .range > .page > button {
  color: #000;
}
.sm-blocks.paginator.v > div.v > .range > .page.x > button {
  color: #fff;
}
.sm-blocks.paginator.v > div.v.flexy > .range > .gap > svg {
  fill: #dcdcdc;
}
.sm-blocks.paginator.v > div.v.flexy > .range.active > .gap > svg {
  fill: #c0c0c0;
}
.sm-blocks.paginator.v > div.v.hovered > .sep > svg {
  fill: #708090;
}
.sm-blocks.main-section.category-filter .item > .title > button.checkbox {
  flex: 0 0 0;
  order: 0;
  min-width: 2.2em;
  height: 100%;
  padding: 0 0.4em 0 0;
}
.sm-blocks.main-section.category-filter .item > .title > button.checkbox > svg {
  background-color: rgba(220,220,220,0.2);
  border: 1px solid #708090;
  border-radius: 2px;
  fill: transparent;
  stroke: transparent;
}
.sm-blocks.main-section.category-filter .item > .section {
  padding: 0 0 0 0.6em;
}
.sm-blocks.main-section.category-filter .item.v.checked > .title > h3 {
  color: #2f4f4f;
}
.sm-blocks.main-section.category-filter .item.v.checked.c1 > .title > button.checkbox > svg {
  background-color: #000;
}
.sm-blocks.main-section.category-filter .item.v.checked.c1 > .title > button.checkbox > svg > .c1 {
  fill: #fff;
}
.sm-blocks.main-section.category-filter .item.v.checked.c2 > .title > button.checkbox > svg {
  background-color: #000;
}
.sm-blocks.main-section.category-filter .item.v.checked.c2 > .title > button.checkbox > svg > .c2 {
  fill: #fff;
}
.sm-blocks.main-section.category-filter .item.v.hovered-2 > .title > button.checkbox {
  background-color: rgba(119,136,153,0.04);
}
.sm-blocks.main-section.category-filter .item.v.hovered-2 > .title > button.checkbox > svg {
  background-color: rgba(220,220,220,0.4);
  border-color: #6a5acd;
}
.sm-blocks.main-section.category-filter .item.v.hovered-2 > .title > h3 {
  color: #2f4f4f;
  background-color: rgba(119,136,153,0.04);
}
.sm-blocks.main-section.category-filter .item.v.hovered-2 > .title > button.arrow {
  background-color: transparent;
}
.sm-blocks.main-section.category-filter .item.v.hovered-2 > .title > button.arrow > svg {
  fill: #c0c0c0;
  stroke: #708090;
}
.sm-blocks.main-section.category-filter .item.v.focused-2 > .title > h3 {
  color: #483d8b;
  background-color: rgba(123,104,238,0.04);
}
.sm-blocks.main-section.category-filter .item.v.focused-2 > .title > button.checkbox {
  background-color: rgba(123,104,238,0.04);
}
.sm-blocks.main-section.category-filter .item.v.focused-2 > .title > button.checkbox > svg {
  box-shadow: inset 0 0 0 1px #7b68ee;
  border-color: #483d8b;
}
.sm-blocks.main-section.category-filter .item.v.focused-2.checked.c1 > .title > button.checkbox > svg {
  background-color: #483d8b;
}
.sm-blocks.main-section.category-filter .item.v.focused-2.checked.c2 > .title > button.checkbox > svg {
  background-color: #483d8b;
}
.sm-blocks.main-section.category-filter .item.v.opened > .title > h3 {
  color: #2f4f4f;
}
.sm-blocks.main-section.category-filter .item.v.opened > .title > button.arrow > svg {
  fill: #2f4f4f;
}
.sm-blocks.main-section.category-filter .item.v.opened.hovered-2 > .title > h3 {
  color: rgba(47,79,79,0.8);
}
.sm-blocks.main-section.category-filter .item.v.opened.hovered-2 > .title > button.arrow > svg {
  fill: #c0c0c0;
  stroke: #708090;
}
.sm-blocks.main-section.category-filter .item.v.opened.focused-2 > .title > h3 {
  color: rgba(72,61,139,0.8);
}
.sm-blocks.main-section.category-filter > .item > .section {
  padding: 4px 0 4px 0;
}
.sm-blocks.price-filter {
  width: 100%;
  height: calc(8px + var(--height));
  padding: 4px 0 4px 0;
}
.sm-blocks.price-filter > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sm-blocks.price-filter > div.text > div {
  position: relative;
  flex: 3 1 0;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  touch-action: none;
}
.sm-blocks.price-filter > div.text > div > input {
  width: 100%;
  height: 100%;
  font-family: Consolas, Courier, monospace;
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.6em 0 0.3em 0;
  background-color: #dcdcdc;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
  box-shadow: inset 0 0 10px 0 #c0c0c0;
  touch-action: none;
}
.sm-blocks.price-filter > div.text > div > label {
  position: absolute;
  top: 0;
  width: 100%;
  font-family: Verdana, Arial, sans-serif;
  font-size: 0.8em;
  font-weight: bold;
  padding: 0.2em 0 0 0;
  background-color: transparent;
  color: #708090;
  user-select: none;
  cursor: text;
}
.sm-blocks.price-filter > div.text > div.L > input {
  border-right-width: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 0.6em;
  text-align: right;
}
.sm-blocks.price-filter > div.text > div.L > label {
  padding-right: 0.4em;
  text-align: right;
}
.sm-blocks.price-filter > div.text > div.R > input {
  border-left-width: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 0.6em;
  text-align: left;
}
.sm-blocks.price-filter > div.text > div.R > label {
  padding-left: 0.4em;
  text-align: left;
}
.sm-blocks.price-filter > div.text > svg {
  flex: 1 3 0;
  height: var(--height);
  max-width: 48px;
  fill: #c0c0c0;
  touch-action: none;
}
.sm-blocks.price-filter > div.text > svg > .L {
  fill: #a9a9a9;
}
.sm-blocks.price-filter > div.text > svg > .X {
  fill: transparent;
}
.sm-blocks.price-filter > div.text > svg > .R {
  fill: #a9a9a9;
}
.sm-blocks.price-filter > div.text.v > svg > .X {
  cursor: pointer;
  fill: #d3d3d3;
}
.sm-blocks.price-filter > div.text.v > div > input {
  color: #2f4f4f;
}
.sm-blocks.price-filter > div.text.v > div > input::selection {
  background-color: #483d8b;
  color: #dcdcdc;
}
.sm-blocks.price-filter > div.text.v > div.hovered > input {
  border-color: #808080;
  box-shadow: inset 0 0 0 2px #c0c0c0;
}
.sm-blocks.price-filter > div.text.v > div.hovered:not(.focused) > input,
.sm-blocks.price-filter > div.text.v > div.hovered:not(.focused) > label {
  cursor: ns-resize;
}
.sm-blocks.price-filter > div.text.v > div.focused > input {
  color: #000;
  background-color: rgba(220,220,220,0.6);
  border-color: #808080;
  box-shadow: inset 0 0 0 2px #c0c0c0;
}
.sm-blocks.price-filter > div.text.v > div.focused > label {
  cursor: pointer;
}
.sm-blocks.price-filter > div.text.v > div.focused > label:hover {
  color: #6a5acd;
}
.sm-blocks.price-filter > div.text.v > div.locked > input {
  color: #2f4f4f;
  background-color: #dcdcdc;
  border-color: #c0c0c0;
}
.sm-blocks.price-filter > div.text.v > div.locked > input::selection {
  background-color: #2f4f4f;
  color: #dcdcdc;
}
.sm-blocks.price-filter > div.text.v.hovered > svg > .X {
  fill: #708090;
}
.sm-blocks.price-filter > div.text.v.h0 > svg > .L {
  fill: #708090;
  transform: translateX(1px);
}
.sm-blocks.price-filter > div.text.v.h1 > svg > .R {
  fill: #708090;
  transform: translateX(-1px);
}
.sm-blocks.price-filter > div.text.v.f0 > svg > .X,
.sm-blocks.price-filter > div.text.v.f1 > svg > .X {
  fill: #708090;
}
.sm-blocks.price-filter > div.text.v.f0 > svg > .L {
  fill: #6a5acd;
  transform: translateX(1px);
}
.sm-blocks.price-filter > div.text.v.f1 > svg > .R {
  fill: #6a5acd;
  transform: translateX(-1px);
}
.sm-blocks.price-filter > div.text.v.active > svg {
  filter: brightness(110%);
}
.sm-blocks.price-filter > div.text.v.active > svg > .X {
  fill: #6a5acd;
}
.sm-blocks.orderer {
  width: 100%;
  height: calc(8px + var(--height));
  padding: 4px 0 4px 0;
}
.sm-blocks.orderer > div {
  width: 100%;
  height: 100%;
}
.sm-blocks.orderer > div > .variant {
  position: absolute;
  width: auto;
  height: 100%;
  opacity: 0;
}
.sm-blocks.orderer > div > .variant.left {
  top: 0;
  left: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 1px;
  padding-right: 0;
}
.sm-blocks.orderer > div > .variant.right {
  top: 0;
  right: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 0;
  padding-right: 1px;
}
.sm-blocks.orderer > div > .variant.a {
  pointer-events: none;
}
.sm-blocks.orderer > div > .variant.a.left > button > svg {
  transform: rotate(-90deg);
}
.sm-blocks.orderer > div > .variant.a.right > button > svg {
  transform: rotate(90deg);
}
.sm-blocks.orderer > div > .variant.b > button > svg {
  transform: rotate(0deg);
}
.sm-blocks.orderer > div > .variant.c.left > button > svg {
  transform: rotate(-180deg);
}
.sm-blocks.orderer > div > .variant.c.right > button > svg {
  transform: rotate(180deg);
}
.sm-blocks.orderer > div > .variant > button {
  width: var(--height);
  height: 100%;
  background-color: transparent;
  padding-left: 4px;
  padding-right: 4px;
}
.sm-blocks.orderer > div > .variant > button > svg {
  display: block;
  width: 100%;
  height: 100%;
  stroke-width: 1;
  fill: #708090;
  stroke: #2f4f4f;
}
.sm-blocks.orderer > div > .variant > button:hover > svg,
.sm-blocks.orderer > div > .variant > button:active > svg,
.sm-blocks.orderer > div > .variant > button:focus > svg {
  fill: #000;
  stroke: #708090;
}
.sm-blocks.orderer > div > select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  height: 100%;
  font-weight: bold;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
  background-color: #dcdcdc;
  color: transparent;
  box-shadow: inset 0 0 10px 0 #c0c0c0;
  outline: none;
  cursor: pointer;
/***
			&:disabled
				color: graytext
				background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
					linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%)
				&:hover
					border-color: #aaa
			/***/
}
.sm-blocks.orderer > div > select.left {
  padding-left: calc(2px + var(--height));
  padding-right: var(--font-size);
}
.sm-blocks.orderer > div > select.right {
  padding-left: var(--font-size);
  padding-right: calc(2px + var(--height));
}
.sm-blocks.orderer > div > select.left.right {
  padding-left: calc(2px + var(--height));
  text-align: center;
}
.sm-blocks.orderer > div > select > option {
  font-weight: bold;
  background-color: #dcdcdc;
}
.sm-blocks.orderer > div > select > option:checked {
  color: #c0c0c0;
}
.sm-blocks.orderer > div > select > option:hover {
  background-color: #000;
  color: #fff;
}
.sm-blocks.orderer > div > select:hover {
  color: #000;
}
.sm-blocks.orderer > div > select:focus {
  color: #000;
  background-color: #c0c0c0;
  border-color: #2f4f4f;
  box-shadow: inset 0 0 0 1px #fff;
}
.sm-blocks.orderer > div > select:-ms-expand {
  display: none;
}
.sm-blocks.orderer > div.v > .variant {
  opacity: 1;
}
.sm-blocks.orderer > div.v > select {
  color: #2f4f4f;
}
.sm-blocks.orderer > div.v.hovered > select {
  border-color: #2f4f4f;
}
